/* Add this to your `style-editor.css` file */

/* -------------- Root Custom Properties ------------------ */

:root {
  --white: #ffffff;
  --black: #000000;
  --info: #6ec3ff;
  --success: #3dd992;
  --warning: #ffb74d;
  --error: #e6546e;
  --gray-50: #fafafa;
  --gray-100: #f5f5f5;
  --gray-200: #eeeeee;
  --gray-300: #e0e0e0;
  --gray-400: #bdbdbd;
  --gray-500: #9e9e9e;
  --gray-600: #757575;
  --gray-700: #616161;
  --gray-800: #424242;
  --gray-900: #212121;
  --btn-bg-color: var(--brand-primary);
  --btn-bg-color-hover: var(--brand-primary-dark);
  --btn-border-color: var(--brand-primary);
  --btn-border-color-hover: var(--brand-primary-dark);
  --btn-color: var(--white);
  --btn-color-hover: var(--white);
  --btn-font-w: 600;
  --btn-text-transform: uppercase;
}

/* ------------- Basic ----------------------- */

.editor-styles-wrapper {
  background-color: var(--body-bg);
  color: var(--body-color);
}

.editor-styles-wrapper > * {
  font-family: var(--font-body);
  font-size: 16px;
}

.editor-post-title__block .editor-post-title__input,
.editor-styles-wrapper .wp-block h1,
.editor-styles-wrapper .wp-block h2,
.editor-styles-wrapper .wp-block h3,
.editor-styles-wrapper .wp-block h4,
.editor-styles-wrapper .wp-block h5,
.editor-styles-wrapper .wp-block h6 {
	  font-family: var(--font-heading) !important;
	  color: var(--font-heading-color);
}

/* --------------- Structure --------------------------------- */

/* Main column width */
.wp-block {
    max-width: 800px;
}
 
/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
    max-width: 1080px;
}
 
/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
    max-width: none;
}

/* --------------- Colors ----------------------------------- */

.has-primary-color {
  color: var(--brand-primary);
}

.has-primary-background-color {
  background-color: var(--brand-primary);
}

.has-primary-light-color {
  color: var(--brand-primary-light);
}

.has-primary-light-background-color {
  background-color: var(--brand-primary-light);
}

.has-primary-dark-color {
  color: var(--brand-primary-dark);
}

.has-primary-dark-background-color {
  background-color: var(--brand-primary-dark);
}

.has-secondary-color {
  color: var(--brand-secondary);
}

.has-secondary-background-color {
  background-color: var(--brand-secondary);
}

.has-secondary-light-color {
  color: var(--brand-secondary-light);
}

.has-secondary-light-background-color {
  background-color: var(--brand-secondary-light);
}

.has-secondary-dark-color {
  color: var(--brand-secondary-dark);
}

.has-secondary-dark-background-color {
  background-color: var(--brand-secondary-dark);
}

.has-info-color {
  color: var(--info);
}

.has-info-background-color {
  background-color: var(--info);
}

.has-success-color {
  color: var(--success);
}

.has-success-background-color {
  background-color: var(--success);
}

.has-warning-color {
  color: var(--warning);
}

.has-warning-background-color {
  background-color: var(--warning);
}

.has-error-color {
  color: var(--error);
}

.has-error-background-color {
  background-color: var(--error);
}

/* ------------- Post Title ----------------------------------- */

.editor-post-title__block .editor-post-title__input, .editor-styles-wrapper .wp-block h1 {
  margin-bottom: 2rem;
  font-weight: 700;
  text-align: center;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.2;  
}

/* =========================================================== */
/* ======================= BLOCKS ============================ */
/* =========================================================== */

/* ----------- Block button ---------------- */

.wp-block-button {
  margin: 2rem 0;
}

.wp-block[data-align=left]>* {
  margin: 0 1rem 0 0;
}

.wp-block[data-align=right]>* {
  margin: 0 0 0 1rem;
}

.wp-block-button__link {
  border-radius: 0;
  background-color: var(--btn-bg-color);
  border-color: var(--btn-border-color);
  border-radius: 3px;
  letter-spacing: 1px;
  font-weight: var(--btn-font-w);
  text-transform: var(--btn-text-transform);
}

.wp-block-button.is-style-outline > .wp-block-button__link {
  color: var(--btn-bg-color) !important;
  background-color: var(--white);
  border: 1px solid var(--btn-bg-color);
}

.wp-block-button.is-style-outline > .wp-block-button__link:hover {
  color: var(--white) !important;
  background-color: var(--btn-bg-color);
  border: 1px solid var(--btn-bg-color);
}

.wp-block-button.is-style-squared > .wp-block-button__link {
  border-radius: 0;
}

.wp-block-button__link:hover {
  text-decoration: none;
}

.wp-block-button__link:not(.has-text-color) {
  color: white!important;
}

.wp-block-button__link:not(.has-background) {
  background-color: var(--btn-bg-color);
}

.wp-block-button__link:not(.has-background):hover,
.wp-block-button__link:not(.has-background):focus {
  background-color: var(--btn-bg-color-hover);
}

/* --------------- Block image -------------------- */

.wp-block-image {
  margin-bottom: 3em;
}


/* --------------- Block quote -------------------- */

.wp-block-quote {
  border-left: 4px solid var(--brand-primary);
  margin: 0 0 3rem;
  padding-left: 2em;
}

.wp-block-quote > p:first-child {
  font-size: 1.2em;
  font-weight: 300;
}

/* --------------- Block cover -------------------- */

.wp-block-cover {
  height: 0; 
  margin-bottom: 3rem;
}

/* --------------- Block Gallery ------------------ */

.wp-block-gallery {
  margin-bottom: 3rem;
}

.wp-block-gallery.alignfull {
  padding: 0 2rem;
}

/* --------------- Block video ------------------- */

.wp-block-video {
  margin-bottom: 3rem;
}

/* --------------- Block table ------------------- */

.wp-block-table {
  margin: 3rem;
}

.wp-block-table.alignwide,
.wp-block-table.alignfull {
  max-width: fit-content; 
}

.wp-block-table tfoot {
  border-top: 1px solid #EEEEEE;
  font-style: italic;
}

.wp-block-table.is-style-regular td,
.wp-block-table.is-style-regular th,
.wp-block-table.is-style-regular tfoot {
  padding: .7rem;
}

.wp-block-table.is-style-regular td {
  padding: .7rem;
  border-top: 1px solid #EEEEEE;
}

.wp-block-table.is-style-stripes {
  border-bottom: none;
}

.wp-block-table.is-style-stripes td,
.wp-block-table.is-style-stripes th,
.wp-block-table.is-style-stripes tfoot {
  padding: .7rem;
}

/* ------------ Block media text ------------------- */

.wp-block-media-text {
  margin-bottom: 3rem;
}

.wp-block-media-text .wp-block-media-text__content {
  padding: 0;
}

.wp-block-media-text .wp-block-media-text__content p {
  margin-bottom: 0;
}

/* ----------- Block columns ----------------------- */

.wp-block-columns {
  margin-bottom: 3rem;
}


/* ----------- Block embed ------------------------- */

.wp-block-embed {
  margin-bottom: 3rem;
}

/*
*  WOOCOMMERCE BLOCKS
*
*/
.wc-block-grid {
  margin-bottom: 3rem;
}

.wc-block-grid.alignfull {
  padding: 0 2rem;
}

.wc-block-sort-select {
  margin-bottom: 2rem;
}

.wc-block-sort-select select {
  border: 1px solid #DDD;
  border-radius: 3px;
  padding: .5rem;
}


.wc-block-product-category {
  margin-bottom: 3rem;
}

.wc-block-featured-product {
  margin-bottom: 3rem;
}
