/**
*   BLOCK EDITOR STYLES
*   -------------------
*   Styles for gutenberg blocks in editor
*
* 	Versión: 0.0.1
*   @package WordPress
*   @subpackage Mybooking WordPress Theme
*   @since Mybooking WordPress Theme 0.9.6
*/

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter',sans-serif;
  font-size: 16px;
  background-color: #FFFFFF;
  color: #212121;
}

/* Style links */
.editor-block-list__layout a {
	color: #2194f3;
}

.editor-block-list__layout a:hover {
	color: #0066BF;
}

/* Canvas */
.wp-block{
    max-width: 800px;
}

.wp-block[data-align=wide] {
    max-width: 1228px;
}

.wp-block[data-align=full] {
    max-width: none;
    margin: 0;
}

/* Text */
.editor-post-title__block .editor-post-title__input {
    font-family: 'Inter',sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

/* Buttons Block */
.wp-block-buttons {
  margin: 3rem;
}

.wp-block-button__link {
  border-radius: 0;
  background-color: #2194f3;
  border-color: #2194f3;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
}

.wp-block-button__link:hover {
  text-decoration: none;
  background-color: #0066BF;
}

.wp-block-button__link:not(.has-text-color) {
  color: white;
}

.wp-block-button__link:not(.has-background) {
  background-color: #2194f3;
}

.wp-block-button__link:not(.has-background):hover,
.wp-block-button__link:not(.has-background):focus {
  background-color: #0066BF;
}

/* Quotes Block */
.wp-block-quote {
  margin: 3rem;
}

.wp-block-quote {
  border-left: 4px solid #2194f3;
  margin: 0 0 2rem;
  padding-left: 2em;
}

.wp-block-quote > p:first-child {
  font-size: 1.2em;
  font-weight: 300;
}

/* Cover Block */
.wp-block-cover {
  margin-bottom: 3rem;
}

/* Image Block */
.wp-block-image {
  margin-bottom: 3em;
}

/* Gallery Block */
.wp-block-gallery {
  margin-bottom: 3rem;
}

/* Video Block */
.wp-block-video {
  margin-bottom: 3rem;
}

/* Table Block */
.wp-block-table {
  margin: 3rem;
}

.wp-block-table thead {
  border-bottom: none;
}

.wp-block-table tfoot {
  border-top: 1px solid #EEEEEE;
  font-style: italic;
}

.wp-block-table.is-style-regular td,
.wp-block-table.is-style-regular th,
.wp-block-table.is-style-regular tfoot {
  padding: .7rem;
}

.wp-block-table.is-style-regular td {
  padding: .7rem;
  border-top: 1px solid #EEEEEE;
}

.wp-block-table.is-style-stripes {
  border-bottom: none;
}

.wp-block-table.is-style-stripes td,
.wp-block-table.is-style-stripes th,
.wp-block-table.is-style-stripes tfoot {
  padding: .7rem;
}

/* Media Block */
.wp-block-media-text {
  margin-bottom: 3rem;
}

.wp-block-media-text .block-editor-inner-blocks {
  padding: 0;
}
