//==============================================
// Module/carousel
//==============================================

.carrusel-de-uno .owl-item {
	padding: 0;
}
.carrusel-item {
  // max-height: 600px;
  overflow: hidden;
}
.carrusel-item .wp-post-image {
  width: 100%;
}
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
  .carrusel-item .wp-post-image {
    max-height: 180px;
  }
}

.owl-theme {
  position: relative;
}
.owl-theme .owl-controls {
	position: absolute;
	width: 100%;
	top: -10px;
	right: 0;
	overflow: hidden;
}
.owl-theme .owl-controls .owl-buttons div {
  color: #fff;
  display: inline-block;
  *display: inline;
  padding: 5px 20px;
  font-size: 1.8rem;
	line-height: 3rem;
  background: #D51834;
  margin: 0;
}
.owl-theme .owl-controls .owl-buttons .owl-prev {
  float: left;
}
.owl-theme .owl-controls .owl-buttons .owl-next {
  float: right;
}

/* BANNER */
.banner {
	position: relative;
}
.banner-franja {
  background: #333;
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  margin: 0 auto;
  width: 100%;
	padding: 1.5rem 1.5rem;
	position: absolute;
}
.banner-titulo {
  color: #fff;
	font-size: 1.8rem;
	line-height: 2rem;
	margin: 0;
  width: 90%;
}
.banner-enlace {
  position: absolute;
  right: 1.5rem;
  top: 1.8rem;
}
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
  .banner-franja {
    height: 5.625em;
  }
}
@media screen and (min-width: 0em) and (max-width: 69.750em) {
	.banner .columns {
		padding: 0;
	}
	.banner-franja {
		width: 100%;
		position: relative;
		border-radius: 0;
    background: #333;
    padding: 1rem 1rem;
	}
	.banner-titulo {
		font-size: .8rem;
		line-height: 1.2rem;
    width: 80%;
	}
  .banner-enlace {
    right: 1rem;
    top: 1.2rem;
  }
}
