.complete-summary-sticky-wrapper {
  text-align: center;
  background-color: darken($brand-primary, 40%);
}
.complete-summary-sticky {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  padding: 0.6rem 1rem;
  justify-content: space-between;
  .modify-button {
    button {
      background-color: transparent;
    }
    i {
      font-size: 1.5rem;
      color: $brand-primary;
      transition: 0.2s ease-in-out;
      &:hover {
        color: darken($brand-primary, 10%);
      }
    }
  }
}
.complete-summary-left {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-between;
}
.complete-summary-right {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: space-between;
}
.complete-summary-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;

  p {
    text-align: left;
    //color: $gray-400;
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    &:first-child {
      margin-right: 1rem;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .complete-summary-item {
    align-items: center;
    flex-direction: row;
    span {
      float: left;
    }
  }
}
