//==============================================
// Module/cookies warning
//==============================================

.clearfix {
	clear: both;
}

.eupopup-container {
	background: linear-gradient(to right,#8ac53f,#bfd975);
	color: #111;
	padding: 5px 20px;
	font-size: 12px;
	line-height: 1.2em;
	text-align: center;
	display: none;
	z-index: 9999999;
}

.eupopup-container-top,
.eupopup-container-fixedtop {
	position: absolute;
	top: 0; left: 0; right: 0;
}

.eupopup-container-fixedtop {
	position: fixed;
}

.eupopup-container-bottom {
	position: fixed;
	bottom: 0; left: 0; right: 0;
}

.eupopup-container-bottomleft {
	position: fixed;
	bottom: 10px;
	left: 10px;
	width: 300px;
}

.eupopup-container-bottomright {
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 300px;
}

.eupopup-closebutton {
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	color: #FFF;
	filter: alpha(opacity=20);
	position: absolute;
	font-family: 'Inter', helvetica, 'Helvetica Neue', 'Segoe UI', 'Open Sans', 'Ubuntu', sans-serif;
	top: 0; left: 0;
	padding: 12px 15px;
}
.eupopup-closebutton:hover,
.eupopup-closebutton:active {
	color: #111;
	text-decoration: none;
}

.eupopup-head {
	font-size: 1.2em;
	font-weight: bold;
	text-transform: uppercase;
	padding: 7px;
	margin-right: 2rem;
	color: #fff;
}

.eupopup-body {
	color: #111;
}

.eupopup-buttons {
	float: right;
	padding: 0;
}

.eupopup-button_1 {
	background-color: #111;
	padding: 15px 25px;
	color: #8ac53f;
	font-weight: normal;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.eupopup-button_2 {
	background-color: transparent;
	padding: 15px 25px;
	color: #111;
	font-weight: normal;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.eupopup-button {
	margin: 0 10px;
}

.eupopup-button:hover,
.eupopup-button:focus {
	opacity: .5;
}

body .eupopup-color-inverse {
	color: #000;
	background-color: rgba(255, 255, 255, 0.9);
}

body .eupopup-color-inverse .eupopup-head {
	color: #000;
}

body .eupopup-style-compact {
	text-align: left;
	padding: 15px 0 15px 35px;
	line-height: 15px;
}

body .eupopup-style-compact .eupopup-head,
body .eupopup-style-compact .eupopup-body,
body .eupopup-style-compact .eupopup-buttons {
	display: inline;
	padding: 0;
	margin: 0;
}

body .eupopup-style-compact .eupopup-head {
	margin-right: 1rem;
}

body .eupopup-style-compact .eupopup-button {
	margin: 0 5px;
}

body .eupopup-style-compact .eupopup-button:last-of-type {
	margin: 0 0 0 5px;
}

@media (max-width: 798px) {

	body .eupopup-style-compact .eupopup-head,
	body .eupopup-style-compact .eupopup-body,
	body .eupopup-style-compact .eupopup-buttons {
		display: block;
		float: left;
		margin: .5rem;
	}

	.eupopup-button_1,
	.eupopup-button_2 {
		background-color: transparent;
		color: #111;
		padding: 15px 0;
		line-height: 1;
		font-weight: bold;
	}

	.eupopup-button {
		margin: 0;
	}
}
