//==============================================
// Module/extras for complete
//==============================================

// Cards en los extras
.card {
  border: none;
}

.card-img {
  padding: 12px;
  max-width: 100%;
}

.card-columns {
  column-count: 1;
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    column-count: 3;
  }
}

.list-group li {
  border: 0;
  padding-left: 0;
  margin-left: 0;
  .extra-name {
    width: 60%;
  }
  .extra-price {
    color: $gray-600;
  }
}

.badge-primary {
  background-color: $brand-primary;
}

// Switches
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: $brand-primary;
  background-color: $brand-primary;
}

@media (max-width: 575.98px) {
  #extras_listing img.card-img { //TODO change ID for class
      max-width: 40%;
  }

  .custom-control {
      min-height: 3rem;
  }

  .custom-switch .custom-control-label::before {
      width: 5rem;
      height: 2rem;
      border-radius: 1rem;
  }

  .custom-switch .custom-control-label::after {
      top: -webkit-calc(.25rem + 2px);
      top: -moz-calc(.25rem + 2px);
      top: calc(.25rem + 2px);
      left: -webkit-calc(-2.25rem + 2px);
      left: -moz-calc(-2.25rem + 2px);
      left: calc(-2.25rem + 2px);
      width: -webkit-calc(2rem - 4px);
      width: -moz-calc(2rem - 4px);
      width: calc(2rem - 4px);
      height: -webkit-calc(2rem - 4px);
      height: -moz-calc(2rem - 4px);
      height: calc(2rem - 4px);
      background-color: #adb5bd;
      border-radius: 1rem;
      -webkit-transition: background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-transform .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
      transition: background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-transform .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
      -o-transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-o-transform .15s ease-in-out;
      -moz-transition: transform .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-moz-transform .15s ease-in-out;
      transition: transform .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      transition: transform .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-transform .15s ease-in-out,-moz-transform .15s ease-in-out,-o-transform .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  }

  .custom-switch .custom-control-input:checked ~ .custom-control-label::after {
      background-color: #fff;
      -webkit-transform: translateX(3rem);
      -moz-transform: translateX(3rem);
      -ms-transform: translateX(3rem);
      -o-transform: translateX(3rem);
      transform: translateX(3rem);
  }
}
