//==============================================
// Module/ icon panel
//==============================================

// Here you can styling other small modules

// Icons Landing
.icons-wrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 200px;
  flex-wrap: wrap;
}

.icon-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-bottom: 30px;
  width: 50%;
  img {
    width: 4em;
  }
  h5 {
    margin-top: 30px !important;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .icon-panel {
    width: 25%;
  }
}
