//==============================================
// Module/ icon panel
//==============================================

// Icons Landing
.icons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

.icon-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
  width: 100%;
  img {
    width: 100%;
  }

  h6 {
    margin-top: 30px;
    max-width: 90%;
    font-weight: 400;
    height: 90px;
    overflow: hidden;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .icons-wrapper {
    flex-direction: row;
  }

  .icon-panel {
    width: 50%;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .icons-wrapper {
    flex-direction: row;
  }

  .icon-panel {
    width: 25%;
  }
}
