.seets {
  background: url("../images/key_characteristics/car/seets.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  display: block;
}
.doors {
  background: url("../images/key_characteristics/car/doors.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  display: block;
}
.transmission {
  background: url("../images/key_characteristics/car/transmission.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  display: block;
}
.type {
  background: url("../images/key_characteristics/car/type.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  display: block;
}
.suitcases {
  background: url("../images/key_characteristics/car/suitcases.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  display: block;
}
.fuel {
  background: url("../images/key_characteristics/car/fuel.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  display: block;
}
