// Cards for product list

.magic-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.magic-card {
  text-align: center;
  flex-basis: 300px;
  flex-grow: 1;
  margin: 0 18px 18px 0;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.2);
  background-color: #f3efe4;
}

.header-card {
  box-sizing: border-box;
  padding: 2em 3em 7em;
  background: $brand-secondary;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    $brand-primary,
    $brand-secondary
  );
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, $brand-primary, $brand-secondary);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  h1 {
    color: #fff;
    height: 150px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    line-height: 1;
  }
}

.separator {
  height: 125px;
  margin-top: calc(125px * -1);
  background-image: linear-gradient(
    to bottom right,
    transparent,
    transparent 50%,
    #f3efe4 50%,
    #f3efe4
  );
}

.footer-card {
  background: #f3efe4;
}

.product-wrapper {
  position: relative;
}

.product-image {
  width: 200px;
  position: absolute;
  top: 0;
  left: 25%;
  margin-top: -100px;
}

.footer-card {
  line-height: 1;
  .product-price {
    font-size: 1.5em;
    padding: 0.5em;
    font-weight: 700;
  }

  .short-description {
    font-size: 0.9em;
    padding-top: 5em;
    font-weight: 200;
  }
}
