// Cards for product list

.magic-cards-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 6px;
  padding-bottom: 3rem;
}
.magic-card-wrapper {
  display: flex;
  flex-grow: 1;
  padding: 10px;
}
.magic-card {
  flex-grow: 1;
  text-align: center;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.2);
  background-color: #f3efe4;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .magic-card {
    min-width: 320px;
  }
  .magic-card-wrapper {
    flex-basis: 50%;
    flex-grow: 1;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .magic-card-wrapper {
    flex-basis: 45%;
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .magic-cards-container {
    //padding: 0 5%;
  }
  .magic-card-wrapper {
    flex-basis: 33%;
    flex-grow: 0;
  }
}

.magic-card-header {
  box-sizing: border-box;
  padding: 2em 3em 7em;
  background: $brand-secondary;
  background: -webkit-linear-gradient(
    to right,
    $brand-primary,
    $brand-secondary
  );
  background: linear-gradient(to right, $brand-primary, $brand-secondary);
  .product-name-and-short-description {
    height: 180px;
  }
  // Grupo
  .product-name {
    color: #fff;
    font-weight: 800;
    line-height: 1;
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  // Nombre
  .product-short-description {
    color: $gray-300;
    font-weight: 400;
    line-height: 1;
    font-size: 1rem;
    margin-top: 0;
  }
}

.separator {
  height: 125px;
  margin-top: calc(125px * -1);
  background-image: linear-gradient(
    to bottom right,
    transparent,
    transparent 50%,
    #f3efe4 50%,
    #f3efe4
  );
}
.img-wrapper {
  height: 30px;
}
.product-image {
  width: 300px;
  position: absolute;
  top: 0;
  left: 50%;
  margin: -200px auto auto -150px;
}
.footer-card {
  background: #f3efe4;
  position: relative;
  height: 270px;
  line-height: 1;
  a.btn {
    background-color: darken($brand-primary, 40%);
    border-color: darken($brand-primary, 40%);
    color: $white;
    width: 180px;
    transition: ease-in-out 0.15s;
    &:hover {
      background-color: darken($brand-primary, 30%);
      border-color: darken($brand-primary, 30%);
      color: darken($white, 10%);
    }
  }
  .variable-content {
    line-height: 0.9;
    margin-top: 15px;
  }
  .offer {
    font-size: 0.9em;
    font-weight: 700;
    color: $brand-primary;
  }

  .key-characteristics {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 500px;
  }
  .key-icon:first-child {
    margin-left: 30px;
  }
  .key-icon:last-child {
    margin-right: 30px;
  }
  .key-icon {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 0.5rem;
    align-items: center;
    img {
      height: 30px;
      width: 30px;
    }
    p {
      font-size: 14px;
    }
  }
  .product-price {
    font-size: 1.5em;
    padding: 0.5em;
    margin-top: 30px;
    font-weight: 700;
  }
  .push-down {
    position: absolute;
    top: 90px;
    width: 100%;
    padding: 0 20px;
  }
}

.not-available {
  width: fit-content;
  background: $gray-800;
  color: $white;
  border-radius: 5px;
  padding: 10px;
  margin: 0 10px;
}
