//==============================================
// Module/nav
//==============================================

.bg-nav {
  width: 100%;
  height: 100px;
  margin-top: 0;
  background: $gradient-end;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, $gradient-start, $gradient-end);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, $gradient-start, $gradient-end);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.home .bg-nav {
  background-color: transparent;
  background: none;
}

/* Navbar */

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  margin-bottom: 100px;
}

.navbar-nav .nav-link {
  color: $white;
  text-transform: uppercase;
}

.navbar-toggler-icon {
  color: $white;
  margin-top: 8px;
}

.navbar .dropdown-item {
  color: $gray-800;
}

// .navbar-collapse {
//   background-color: white;
//   .navbar-nav .nav-link {
//     color: #000;
//   }
// }
// navbar media queries
// Large devices (desktops, less than 1200px)
// En movil y hasta 1199.98px el fondo es blanco y el logo tiene que ser verde
@media (max-width: 1199.98px) {
}
