//==============================================
// Module/nav
//==============================================

// Call to action
.cta {
  margin-top: 0;
  position: relative;
  z-index: 30;
  padding: 0.3rem;
  background-color: darken($brand-primary, 40%);
  a {
    color: white;
    &:hover {
      color: lighten($brand-primary, 45%);
      text-decoration: none;
    }
  }
  i {
    color: $white;
  }
}
.custom-logo-link {
  width: 200px;
}

/* Navbar */
.navbar-dark .navbar-toggler {
  border: none;
}
.navbar {
  z-index: 10;
}
.navbar-collapse {
  .navbar-nav .nav-link {
    color: $white;
  }
}

.bg-nav {
  width: 100%;
  margin-top: 0;
  background: $brand-secondary;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    $brand-primary,
    $brand-secondary
  );
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, $brand-primary, $brand-secondary);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-nav .nav-link {
  color: $white;
  text-transform: uppercase;
}

.navbar-toggler-icon {
  color: $white;
  margin-top: 8px;
}

.navbar .dropdown-item {
  color: $gray-800;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .home .bg-nav {
    background: none;
  }
  .home .cta {
    background-color: rgba(66, 66, 66, 0.5);
  }
}
