// Complete
.product-detail {
  margin-top: 30px;
  background: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: $gray-700;
  }
}
.product-name {
  font-family: "Inter", sans-serif;
  font-weight: 900;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .product-detail {
    margin-top: 0;
    flex-direction: row;
  }
}
