.reservation-summary-sidebar-wrapper {
  display: flex;
  flex-direction: column;
}
.reservation-summary-sidebar {
  flex-basis: 290px;
  min-width: 290px;
  padding: 1rem;
  margin: 1rem;
  background-color: #fff;
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .reservation-summary-sidebar-wrapper {
    flex-direction: row;
  }
}
