//==============================================
// Module/titles
//==============================================

.title-wrapper {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}

.title {
  z-index: 2;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  max-width: 90%;
  // margin: 3rem 0;
  h1 {
    text-transform: uppercase;
    font-weight: 900;
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .title {
    max-width: 40%;
  }
}

.hr {
  background-image: url(../images/hr.png);
  background-repeat: no-repeat;
  width: 156px;
  height: 7px;
  margin: 10px auto 30px auto;
}
