//==============================================
// Module/titles
//==============================================

.title-wrapper {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}

.title {
  z-index: 2;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  max-width: 90%;
  h1 {
    text-transform: uppercase;
    font-weight: 900;
  }
}

.center-hr {
  border-color: $brand-primary;
  border-width: 4px 0 0;
  font-weight: 300;
  margin: 0 0 30px;
  width: 150px;
}
