// ==================================
// ===== ACTIVITIES
// ==================================
.activity-card {
  p {
    margin: 30px 0;
  }
  a:visited {
    color: var(--color-link-visited);
  }
  a:link {
    color: var(--white);
  }
}
.activity-card-title {
  height: 50px;
}
