//==============================================
// Engine components/ extras cards
//==============================================
.extras {
  margin-top: var(--extras-margin-top-mobile);
}
.extras-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.extra-wrapper {
  display: flex;
  border: 1px solid var(--gray-300);
  border-radius: 4px;
  margin: 10px;
  padding: 1rem;
  flex-grow: 1;
}
.extras-left {
  width: 70%;
  .extras-text p span {
    font-family: var(--font-body) !important;
    text-align: left !important;
    background-color: transparent !important;
    font-size: 13px !important;
  }
  .extra-title {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
      width: 70px;
      object-fit: contain;
    }
  }
}
.extras-right {
  padding-left: 30px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  .extras-price {
    padding-top: 20px;
    font-weight: 700;
  }
  .counter {
    .center {
      width: 150px;
      margin: 40px auto;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .extras-container {
    flex-direction: row;
  }
  .extra-wrapper {
    width: calc(50% - 20px);
  }
  .extras {
    margin-top: 0;
  }
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .extras-right,
  .extras-left {
    width: 100%;
  }
  .extra-wrapper {
    flex-direction: column;
  }
  .extras-right {
    align-items: flex-start;
    padding-left: 0;
  }
}
