// WIZARD FORM

.wizard-selector {
  padding: 1rem;
}

.wizard-selector label {
  color: var(--font-heading-color);
}

@media (min-width: 991.98px) {
  .wizard-selector {
    background-color: rgba(255,255,255,0.7);
  	border-radius: 4px;
  }
}

.wizard-selector_field input {
  border: 1px solid var(--wizard-input-border-color);
  margin-bottom: 10px;
}

.wizard-selector_btn {
  height: var(--form-control-height);
  width: 100%;
  padding: 0.5rem 1.6rem;
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: var(--btn-bg-color);
  color: var(--btn-color);
  &:hover {
    background-color: var(--btn-bg-color-hover);
    color: var(--btn-color-hover);
  }
}

// WIZARD WINDOW

.wizard-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1060;
  background-color: rgba(0,0,0,0.5);
}

.mybooking-wizard_body {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  height: 95vh;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--wizard-bg-color);
  overflow-x: scroll;
} @media ( min-width: 575.98px ) {
  .mybooking-wizard_body {
    margin: 1rem 3em;
  }
}

.mybooking-wizard_body .navbar-brand,
.mybooking-wizard_body .custom-logo-link {
  display: block;
  margin-right: 0;
  margin-bottom: 2rem;
  text-align: center;
}


.wizard-close {
  position: absolute;
  right: 2rem !important;
  top: 2rem !important;
  cursor: pointer;
}

.wizard-close:hover {
  opacity: .5;
}

.wizard-step_header {
	border-bottom: 1px solid #ccc;
}

.wizard-step_title {
  padding-bottom: 1rem;
  font-size: 2em;
  font-weight: 700;
  overflow-x: hidden;
  overflow-y: hidden;
  cursor: pointer;
  text-align: center;
	color: var(--font-heading-color);
}

.wizard-step_container {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

#wizard_container #date_from {
  width: 100%;
  height: 100%;
}

// WIZARD PLACE SELECTOR

.wizard-multi-place {
  padding: 0 1rem 1rem 1rem;
}

.wizard-multi-place_selectors {
  margin-bottom: 2rem;
}

.wizard-multi-place_btn {
  border: 1px solid #333;
  background-color: #fff;
  color: #333;
  padding: 0.2rem 0.7rem;
  margin: 3px 0;
  font-size: 0.7em;
}

.wizard-multi-place_info {
  padding: 0 1rem;
}

.wizard-place_title {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.wizard-place_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  padding-left: 0;
  text-align: center;
  list-style-type: none;
}

.wizard-place_item {
  padding: .1rem 0;
}

.wizard-place_button {
  display: inline-flex;
  margin: 0.3rem;
  padding: 0.5rem 1.6rem;
  border: 1px solid var(--brand-primary);
  border-radius: 4px;
  background-color: var(--brand-primary);
  color: var(--btn-color-hover)!important;
  font-size: 1rem;
  font-weight: 700!important;
  text-transform: uppercase;
  line-height: 1.2rem;
  letter-spacing: 1px;
  cursor: pointer;
  &:hover {
    background-color: transparent;
    color: var(--brand-primary)!important;
  }
}

// WIZARD SUMMARY BAR

.wizard-summary {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.wizard-summary_pickup,
.wizard-summary_return {
  font-size: 1em;
  color: var(--font-heading-color);
}

.wizard-summary_collection,
.wizard-summary_delivery {
	color: var(--font-heading-color);
}

.wizard-summary_delivery {
  text-align: right;
}

.wizard-summary_collection {
  text-align: left;
}

img.wizard-summary_separator {
  width: 20px !important;
  height: 20px !important;
}

// WIZARD TIME SELECTOR

.wizard-time {
  width: 80%;
}

.wizard-time_btn {
  width: 100%;
  margin: 5px 0;
  padding: 0.3rem 0.9rem;
  border: 1px solid var(--brand-primary);
  border-radius: 5px;
  background-color: var(--brand-primary);
  color: white;
  font-size: 1em;
  font-weight: bolder;
}

.wizard-time_btn:hover {
  color: var(--brand-primary);
  background-color: white;
}

/* Hides scrollbars on wizard's choose time step */
.wizard-step_container::-webkit-scrollbar {
  // Chrome/Webkit/Safari
	width: 0px;
  background: transparent;
}

.wizard-step_container {
  // Firefox
	scrollbar-width: none;
  // Microsoft
  -ms-overflow-style: none;
}

// WIZARD CALENDAR

.wizard-date_calendar {
  display: flex;
  justify-content: center;
}

.wizard-date_calendar .ui-datepicker {
  max-width: 500px;
  padding: 1rem;
  border: 1px solid #ccc!important;
}

.wizard-date_calendar .ui-datepicker td .ui-state-default {
  border: 0;
  background: 0 0;
  margin-bottom: 0;
  padding: .5rem!important;
  border-radius: 50px;
  font-size: 1.5em!important;
  font-weight: bold;
  color: var(--success);
  text-align: center;
  -webkit-filter: none;
  filter: none;
}

.wizard-date_calendar .ui-datepicker td .ui-state-active {
  background-color: var(--success);
  color: white;
}

.wizard-date_calendar .ui-datepicker td.ui-state-disabled .ui-state-default {
  color: var(--brand-secondary-light)!important;
  opacity: 1!important;
}

@media ( min-width: 575.98px ) {
.wizard-date_calendar .ui-datepicker td .ui-state-default {
    font-size: 2em!important;
    padding: 1rem!important;
	}
}

.wizard-date_calendar .ui-datepicker td .ui-state-default:hover {
		background-color: var(--brand-primary);
    color: #FFF;
	  border-radius: 50px;
}

.wizard-date_calendar .ui-datepicker td.ui-state-disabled  .ui-state-default:hover {
		background-color: var(--brand-secondary-light);
    color: #FFF!important;
}

.wizard-date_calendar .ui-datepicker .ui-datepicker-prev:not(.ui-state-disabled),
.wizard-date_calendar .ui-datepicker .ui-datepicker-next:not(.ui-state-disabled) {
    cursor: pointer;
}
