//==============================================
// Form selector
//==============================================

// Widget Container

.widget_mybooking_rent_engine_selector {
  width: 100%;
}

/*

This is the structure of the selector form

[form .flex-form]
    [div .flex-form-group-wrapper]   // Controls
        [div .flex-form-group]        // flex-form-group acts as columns or rows
        [/div]
        [div .flex-form-group]
        [/div]
    [/div]
    [div .flex-form-box]  // Search button
    [/div]
[/form]

*/

// == Horizontal Selector [form class]

.flex-form-box {
  .btn {
    border-radius: 3px;
    height: 38px;
    position: relative;
    box-shadow: none;
    background-color: var(--selector-btn-bg-color);
    border-color: var(--selector-btn-border-color);
    color: var(--selector-btn-color);
    &:hover {
      background-color: var(--selector-btn-hover-bg-color);
      border-color: var(--selector-btn-hover-border-color);
    }
  }
}

.flex-form {
  display: flex;
  flex-direction: column;
  background-color: var(--selector-bg);
  padding: 10px;
  input {
    border: 1px solid var(--gray-500);
    border-radius: 3px;
  }
  label {
    color: var(--selector-label-color);
  }
}
.home .flex-form {
  background-color: var(--home-selector-bg);
}

// Horizontal Selector on Desktop

@media (min-width: 992px) {
  // 1 column : Max width 745px
  .home-alone .flex-form {
    max-width: 745px;
    margin: 0 auto;
  }

  // 2 columns : Width between 350 and 400px

  .home-left .flex-form,
  .home-right .flex-form {
    max-width: 400px;
    .flex-form-group-wrapper {
      flex-direction: column;
    }
    .flex-form-group:nth-child(2n) {
      // 1 column avoid margin between place and date
      margin-left: 0px;
    }
  }
}

// == Form group wrapper (wraps the controls)

// Default : 2 columns : place / date - time

.flex-form-group-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 2;
}

@media (min-width: 575.98px) {
  // Controls wrapper : 1 column : place - date - time
  .flex-form-group-wrapper {
    flex-direction: row;
  }
}

// == Form group (acts as columns -high resolutions- or rows -low resolutions- )

.flex-form-group {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  input.hasDatepicker {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    //flex-grow: 1;
    width: 400%; // This is a hack!
  }
  label {
    font-size: 0.8rem;
  }
}

// Separation between place and date

@media (min-width: 576px) {
  .flex-form-group:nth-child(2n) {
    margin-left: 10px;
  }
}

// Horizontal item

.flex-form-item {
  display: flex;
  select {
    display: flex;
    flex-grow: 1;
    width: 100%;
    min-width: 70px;
    border: 1px solid var(--gray-500);
    &:focus {
      border: 1px solid var(--gray-500);
    }
  }
}

// Date icon

.flex-icon {
  display: flex;
  align-items: center;
  font-size: 1rem;
  background-color: var(--white);
  padding: 0.8rem;
  height: var(--form-control-height);
  color: var(--gray-700);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid var(--gray-500);
  border-right: none;
}

// Select wrapper for showing the arrow

.form_selector-select_label_wrap {
  width: 100%;
  margin-bottom: 0;
}

.form_selector-select_dropdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form_selector-select_label_wrap:after {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  font-size: 13px;
  z-index: 1;
  width: 38px;
  height: var(--form-control-height);
  pointer-events: none;
  color: var(--gray-700);
  font-weight: 900;
  background-color: var(--white);
  border: 1px solid var(--gray-500);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: none;
}

// == Search button (wraps the search button)

.flex-form-box {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.flex-form-group-no-label {
  flex-direction: row;
  align-items: flex-end !important;
}

.flex-form-group-no-label input {
  margin-left: 10px;
  height: var(--form-control-height); /* To match the input height */
}

// == Sticky behaviour (all controls in a row ALWAYS)

.flex-form-sticky {
  display: flex;
  align-items: end;
  flex-direction: row;
  flex-grow: 1;
  background-color: var(--selector-sticky-bg) !important;
  position: fixed;
  padding: 10px 10px 0 10px;
  z-index: 10000;
  min-width: 100% !important; // Force always 100%
  max-width: 100% !important; // Force always 100%
  width: 100% !important; // Force always 100%
  left: 0;
  top: 0;
  // Form controls wrapper : Force place - date - time in a row
  .flex-form-group-wrapper {
    flex-direction: row !important;
  }
  // Form group
  .flex-form-group {
    flex-direction: row;
  }
  .flex-form-group:nth-child(2n) {
    margin-left: 10px !important;
  }
  // Search button container
  .flex-form-box:last-child {
    margin-left: 5px;
    flex-grow: 1;
  }
  // Flex-form-sticky > Search button
  .btn {
    height: var(--form-control-height);
    margin-top: 27px !important;
    position: relative;
    box-shadow: none;
    background-color: var(--selector-btn-sticky-bg-color);
    border-color: var(--selector-btn-sticky-border-color);
    color: var(--selector-btn-color);
    &:hover {
      background-color: var(--selector-btn-hover-bg-color);
      border-color: var(--selector-btn-hover-border-color);
    }
  }

  // Date input
  input.hasDatepicker {
    max-width: 130px;
  }
  // Labels
  label {
    font-size: 13px;
    color: var(--selector-sticky-labels-color);
  }
}

// Search form components

form[name="search_form"] .flex-form-item {
  border: 1px solid var(--gray-300);
}

// Solves form close button displacement
button.widget_another_pickup_place_group_close,
button.widget_another_return_place_group_close {
  position: relative;
  float: right;
}
div#another_pickup_place_group,
div#another_return_place_group {
  height: var(--form-control-height);
}

// Modify reservation form selector inside modal
.modal .custom-form input[type="text"],
.custom-form textarea,
.modal .flex-form-box .flex-form-item,
.modal .custom-form .ui-autocomplete-input,
.custom-form .uneditable-input,
.custom-form input[type="password"],
.custom-form textarea {
  //  border: none !important;
  //  border-radius: 0 !important;
}
.modal .flex-form {
  background-color: var(--modal-selector-bg);
  label {
    color: var(--modal-selector-label-color);
  }
}
