//==============================================
// Engine / Mybooking Modals
//==============================================

.mybooking-modal .modal-dialog {
  max-width: 1140px!important;
}

.mybooking-modal .modal-content {
  border-radius: 8px;
}

.mybooking-modal_image-container,
.mybooking-modal_info-container {
  display: flex;
  justify-content: center;
}

.mybooking-modal_info-container {
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
} @media ( min-width: 575.98px ) {
  .mybooking-modal_info-container {
    padding-bottom: 0;
    align-items: flex-start;
  }
}

.mybooking-modal_product-description {
  padding-top: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #dee2e6;
  font-size: 1.1em;
  font-weight: bold;
}

.mybooking-modal_product-short-description ul {
  padding-left: 1.2rem;
}
