/**
 * Module for product detail page with calendar
 */

// Available date
.date-picker-wrapper .date-available {
  background-color: #aeecbc;
  color: black;
}

// Selected date
.date-picker-wrapper .first-date-selected,
.date-picker-wrapper .last-date-selected,
.date-picker-wrapper .date-selected {
  background-color: #4499ee !important;
  color: white !important;
}

.date-picker-wrapper .month-wrapper table .day.real-today {
    background-color: #ffe684;
}

.date-picker-wrapper .month-wrapper table .day.real-today {
    background-color: #aeecbc;
}

.date-picker-wrapper .month-wrapper table .day.not-selectable-day.real-today,
.date-picker-wrapper .month-wrapper table .day.invalid.real-today {
    background-color: #eeeeee;
}