/**
 * Module for product detail page with calendar
 */

// Available date
.date-picker-wrapper .date-available {
  background-color: #aeecbc;
  color: black;
}

// Selected date
.date-picker-wrapper .first-date-selected,
.date-picker-wrapper .last-date-selected,
.date-picker-wrapper .date-selected {
  background-color: #4499ee !important;
  color: white !important;
}

.date-picker-wrapper .month-wrapper {
  padding: 0;  
}

.date-picker-wrapper .month-wrapper table .day.real-today {
    background-color: #ffe684;
}

.date-picker-wrapper .month-wrapper table .day.real-today {
    background-color: #aeecbc;
}

.date-picker-wrapper .month-wrapper table .day.not-selectable-day.real-today,
.date-picker-wrapper .month-wrapper table .day.invalid.real-today {
    background-color: #eeeeee;
}

.mybooking-product_calendar-date {
  padding:0; 
  font-size: 1.4em;
  min-width: 42px;
}

.mybooking-product_calendar-date span {
  font-weight:bold;
}

.mybooking-product_calendar-price {
  opacity:0.8;
  font-size: 0.6em;
  margin-top: 0.7em;  
}

.mybooking-product_calendar-mindays {
  opacity:  0.6;
  font-size:  0.6em;
  margin-top:  0.5em;
  padding: 0.1em;
  display: inline-block;
}

.mybooking-product_calendar-mindays-data {
  background: #555555;
  color: #ffffff; 
}

@media (min-width: 575.98px) {
  .mybooking-product_calendar-date {
    font-size: 1.2em;
  }
  .mybooking-product_calendar-price {
    font-size: 0.65em;
  }
}

input.mybooking-product_calendar-not_available_turn + span.mybooking-product_calendar-not_available_turn {
    color: var(--error);
}