/**
*   PROMOTION POPUP
*   ---------------
*
* 	@version 0.0.1
*   @package WordPress
*   @subpackage Mybooking WordPress Theme
*   @since Mybooking WordPress Theme 0.9.9
*/

.mybooking-popup_backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
	width: 100vw;
  background-color: rgba( 0, 0, 0, 0.7 );
	display: table;
  z-index: 100;
}

.mybooking-popup_box {
	width: 100vw;
	height: 100vh;
	display: table-cell;
	vertical-align: middle;
}

.mybooking-popup {
	width: 90vw;
	height: 90vh;
	overflow: auto;
	border-radius: 3px;
	margin: 0 auto;
}

@media ( min-width: 992px ) {
	.mybooking-popup {
		width: 50vw;
		height: auto;
	}
}

.mybooking-popup_content {
	position: relative;
	padding: 2rem;
	border: none;
	border-radius: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #FFF;
}

button.mybooking-popup_close {
	display: inline-block;
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 45;
}

.mybooking-popup_post {}
