// Product detail for complete, mi reserva and summary
.product-detail-bg-color {
  background: var(--product-detail-bg-color);
  margin-top: 15px;
  border-radius: 5px;
}
@mixin product-detail-container-mixin() {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  padding: 30px;
  margin: 0 auto;
  align-content: center;
  line-height: 1;
  h5 {
    font-weight: 700;
    line-height: 1.2;
    color: var(--product-detail-dates-titles);
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.4;
  }
}
.product-detail-container {
  @include product-detail-container-mixin();
}
.product-detail-container-several-products {
  @include product-detail-container-mixin();
  grid-template-columns: 1fr;
}
@media (max-width: 767.98px) {
  .product-detail-container {
    @include product-detail-container-mixin();
    grid-template-columns: 1fr;
  }
  .product-detail-container-several-products {
    @include product-detail-container-mixin();
    grid-template-columns: 1fr;
  }
}
.product-detail-image {
  max-width: 100%;
}
.detail-text {
  font-weight: bolder;
  line-height: 1.2;
  color: var(--product-detail-duration-text);
}
.product-name {
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 900;
  color: var(--product-detail-group-name);
}

.mybooking-detail_product-price {
  font-size: 1.2em;;
  font-weight: 900;
  color: var(--brand-primary);
  padding-bottom: 1rem;
  border-bottom: 1px solid #eee;
  margin-bottom: 1rem;
}

.mybooking-detail_list-item {
  position: relative;
  display: block;
  padding: .5rem 0;
}

.mybooking-detail_promotion-item {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 0.5rem;
}

.mybooking-detail_total-box {
  margin-top: 2rem;
  border-top: 1px solid #eee;
  padding-top: 2rem;
  color: var(--brand-primary);
  font-size: 1.8em;
  font-weight: 900;
}

label.mybooking-payment_option-item {
  display: block;
  padding: 1rem;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  background-color: var(--brand-primary);
  margin: 0;
  margin-top: 0.5rem;
}

label.mybooking-payment_option-item:hover {
  background-color: #333;
}

label.mybooking-payment_option-item input {
  width: 0;
  height: 0;
  display: none;
}


// Product detail inside list in summary
.product-detail_separator {
  i {
    color: var(--brand-primary);
    float: left;
    margin-top: 5px;
  }
}

// Product detail summary
.product-detail-summary-dates {
  background-color: var(--gray-50);
  margin-top: 30px;
  border-top: 1px solid var(--gray-300);
  border-bottom: 1px solid var(--gray-300);
  padding: 1rem;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: auto;
  }
}
.product-detail-list-img-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}
.product-detail-list-img {
  max-width: 100%;
  object-fit: contain;
}
.list-group.resume-product-list {
  li.product-detail-list:first-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .product-detail-image {
    max-width: 400px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .product-detail-container,
  .product-detail-container-several-products {
    max-width: 960px;
  }
  .product-detail-separator {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .product-detail-container,
  .product-detail-container-several-products {
    max-width: 1140px;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  table.product-detail-table {
    border: 0;
  }

  table.product-detail-table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table.product-detail-table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table.product-detail-table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table.product-detail-table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table.product-detail-table td:last-child {
    border-bottom: 0;
  }
}
