// Product detail for summary
.product-detail-container {
  padding: 30px;
  background: var(--product-detail-bg-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  line-height: 1;
  h5 {
    font-weight: 700;
    line-height: 1.2;
    color: var(--product-detail-dates-titles);
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: var(--product-detail-dates-text);
    line-height: 1;
  }
}
.product-detail-content {
  display: flex;
  flex-direction: column;
}
.product-detail-image {
  max-width: 100%;
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .product-detail-image {
    max-width: 400px;
  }
}
.detail-text {
  font-weight: 200;
  line-height: 1.2;
  color: var(--product-detail-duration-text);
}
.product-name {
  font-size: 3rem;
  line-height: 1;
  font-weight: 900;
  color: var(--product-detail-group-name);
}
