.reservation-summary-sticky-wrapper {
  text-align: center;
  background-color: var(--summary-sticky-bg);
}

.reservation-summary-sticky {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  padding: 0.6rem 1rem;
  justify-content: space-around;
  .modify-button {
    button {
      background-color: transparent;
      margin-left: 3rem;
    }
    i {
      font-size: 1.5rem;
      color: var(--brand-primary);
      transition: 0.2s ease-in-out;
      &:hover {
        color: var(--brand-primary-light);
      }
    }
  }
}

.reservation-summary-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;

  p {
    text-align: left;
    color: $gray-400;
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    &:first-child {
      margin-right: 1rem;
    }
  }
}

.reservation-summary-separator {
  width: 3rem;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  i {
    color: var(--gray-400);
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .sticky-top {
    width: 100%;
    position: fixed;
    top: var(--sticky-top-mobile-top-position);
    z-index: 25;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .reservation-summary-item {
    align-items: center;
    flex-direction: row;
    span {
      float: left;
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .bold-on-mobile {
    font-weight: 800;
  }
}

// Form modificar reserva
.modal .custom-form input[type="text"],
.custom-form textarea,
.modal .flex-form-horizontal-box .flex-form-horizontal-item,
.modal .custom-form .ui-autocomplete-input,
.custom-form .uneditable-input,
.custom-form input[type="password"],
.custom-form textarea {
  border: none !important;
  border-radius: 0 !important;
}
.modal label {
  color: var(--modal-summary-label-color);
}
