//==============================================
// Module/extras for complete reservation detail modal
//==============================================

// custom style para el swith de extras en complete
.custom-control-input:checked ~ .custom-control-label::before {
  color: var(--white);
  border-color: var(--brand-primary);
  background-color: var(--brand-primary);
}
// List group para los extras en complete y summary
// ¡Alert this is a generic Bootstrap class
.list-group.summary-modal_list li {
  border: 0;
  .extra-name {
    width: 60%;
  }
  .extra-price {
    color: var(--gray-600);
  }
}
.badge-primary {
  background-color: var(--brand-primary);
}
