// ===================================================
// =====  STICKY-BAR IN CHOOSE PRODUCT
// ===================================================

.reservation-summary-sticky-wrapper {
  text-align: center;
  background-color: var(--sticky-bar-bg);
}
// sticky bar choose product & complete
.sticky-top {
  max-width: 100%;
  z-index: 25;
}
.reservation-summary-sticky {
  margin: 0 auto;
  max-width: 1140px;
  display: flex;
  flex-wrap: wrap;
  padding: 0.6rem 1rem;
  justify-content: space-around;
}
.overflow-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
  font-weight: 600;
}
.modify-button {
  margin-left: 1rem;
  display: flex;
  align-self: flex-end;
  font-weight: 500;
  text-transform: uppercase;
  background-color: transparent;
  color: var(--sticky-bar-link-color);
  text-decoration: underline;
  &:hover {
    color: var(--sticky-bar-link-color-hover);
  }
  &:first-child {
    margin-right: 2rem;
  }
}

.reservation-summary-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  p {
    font-weight: 300;
    text-align: left;
    color: var(--sticky-bar-color);
    margin: 0;
    padding: 0;
    font-size: 1rem;
    text-transform: uppercase;
    &:first-child {
      margin-right: 1rem;
    }
  }
  .place-title {
    color: var(--gray-500);
    font-weight: 700;
  }
}

.reservation-summary-separator {
  width: 3rem;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  i {
    color: var(--sticky-bar-arrow-icon-color);
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .modify-button {
    button {
      margin-left: 3rem;
    }
  }
  .reservation-summary-item {
    align-items: center;
    flex-direction: row;
    span {
      float: left;
    }
  }
  .overflow-ellipsis {
    max-width: 300px;
  }
}

@media (max-width: 991.98px) {
  .bold-on-mobile {
    font-weight: 700;
  }
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .reservation-summary-sticky {
    justify-content: flex-end;
  }
  .overflow-ellipsis {
    max-width: 100px;
    font-weight: 400;
  }
  .reservation-summary-item {
    p {
      font-size: 13px;
    }
  }
}
