// ==================================
// ===== STICKY-BAR IN COMPLETE
// ==================================

.complete-summary-row {
  border-top: 1px solid var(--gray-500);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 10px;
  align-items: center;
}

.total-title {
  color: var(--gray-500);
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  line-height: 1;
  margin-right: 1rem;
}
.complete-buttons-wrapper {
  display: flex;
}
.complete-button {
  height: 50px;
  display: flex;
  padding: 0 20px;
  align-self: flex-end;
  align-items: center;
  font-weight: 300;
  text-transform: uppercase;
  background-color: transparent;
  color: var(--sticky-bar-link-color);
  border-left: 1px solid var(--gray-500);
  &:hover {
    color: var(--sticky-bar-link-color-hover);
  }
}
.complete-summary-price {
  display: flex;
}
.complete-summary-item_price {
  font-weight: 800;
  font-size: 1.7rem;
  color: var(--sticky-bar-price-color);
  line-height: 0.8;
}
.modify-dates-button {
  margin-left: 2rem;
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .complete-summary-row {
    border-top: none;
    padding: 10px 0 0 10px;
  }
  .complete-button {
    border-left: none;
    height: auto;
  }
}
