// ===================================================
// =====  STICKY-BAR IN CHOOSE PRODUCT
// ===================================================

.reservation-summary-sticky-wrapper {
  text-align: center;
  background-color: var(--sticky-bar-bg);
}

.reservation-summary-sticky {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  padding: 0.6rem 1rem;
  justify-content: space-around;
  .modify-button {
    button {
      background-color: transparent;
      margin-left: 3rem;
    }
    i {
      font-size: 1.5rem;
      color: var(--sticky-bar-icons-color);
      transition: 0.2s ease-in-out;
      &:hover {
        color: var(--sticky-bar-icons-color-hover);
      }
    }
  }
}

.reservation-summary-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;

  p {
    text-align: left;
    color: var(--sticky-bar-color);
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    &:first-child {
      margin-right: 1rem;
    }
  }
}

.reservation-summary-separator {
  width: 3rem;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  i {
    color: var(--sticky-bar-arrow-icon-color);
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .sticky-top {
    width: 100%;
    position: fixed;
    top: var(--sticky-top-mobile-top-position);
    z-index: 25;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .reservation-summary-item {
    align-items: center;
    flex-direction: row;
    span {
      float: left;
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .bold-on-mobile {
    font-weight: 800;
  }
}
