// ==================================
// ===== STICKY-BAR IN COMPLETE
// ==================================
.complete-summary-sticky-wrapper {
  text-align: center;
  background-color: var(--sticky-bar-bg);
}
.complete-summary-sticky {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0.6rem 1rem;
  .modify-button {
    button {
      background-color: transparent;
    }
    i {
      font-size: 2rem;
      color: var(--sticky-bar-icons-color);
      transition: 0.2s ease-in-out;
      &:hover {
        color: var(--sticky-bar-icons-color-hover);
      }
    }
  }
}
.complete-summary-price-wrapper {
  display: flex;
  justify-content: space-between;
}
.total-title {
  color: var(--gray-500);
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  line-height: 1;
}
.see-summary-link {
  button {
    font-weight: 500;
    text-transform: uppercase;
    background-color: transparent;
    color: var(--brand-primary);
    text-decoration: underline;
    &:hover {
      color: var(--brand-primary-light);
    }
  }
}
.complete-summary-text {
  color: var(--sticky-bar-color);
  text-align: left;
  text-transform: uppercase;
  font-weight: 500;
}
.complete-summary-item_price {
  font-weight: 800;
  font-size: 1.2rem;
  color: var(--sticky-bar-price-color);
  line-height: 0.8;
}
.complete-summary-dates-wrapper {
  display: flex;
  justify-content: space-between;
}
.flex-dates {
  display: flex;
  flex-grow: 2;
}
.modify-dates-button {
  display: flex;
  align-items: center;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .modify-dates-button {
    margin-left: 3rem;
  }
}
