// ==================================
// ===== STICKY-BAR IN COMPLETE
// ==================================
.complete-summary-sticky-wrapper {
  text-align: center;
  background-color: var(--sticky-bar-bg);
}
.complete-summary-sticky {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0.6rem 1rem;
  .modify-button {
    button {
      background-color: transparent;
    }
    i {
      font-size: 2rem;
      color: var(--sticky-bar-icons-color);
      transition: 0.2s ease-in-out;
      &:hover {
        color: var(--sticky-bar-icons-color-hover);
      }
    }
  }
}
.complete-summary-first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-dates {
  display: flex;
  flex-grow: 2;
}
.complete-summary-second-row {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  align-items: center;
}

.total-title {
  color: var(--gray-500);
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  line-height: 1;
  margin-right: 1rem;
}
.complete-buttons-wrapper {
  display: flex;
}
.complete-button {
  display: flex;
  align-self: flex-end;
  font-weight: 500;
  text-transform: uppercase;
  background-color: transparent;
  color: var(--sticky-bar-link-color);
  text-decoration: underline;
  &:hover {
    color: var(--sticky-bar-link-color-hover);
  }
  &:first-child {
    margin-right: 2rem;
  }
}
.complete-summary-price {
  display: flex;
}
.complete-summary-item_price {
  font-weight: 800;
  font-size: 1.7rem;
  color: var(--sticky-bar-price-color);
  line-height: 0.8;
}

.modify-dates-button {
  margin-left: 2rem;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .total-title {
    display: none;
  }
  .complete-summary-item_price {
    font-weight: 700;
    font-size: 1.2rem;
  }
  .complete-button:first-child {
    margin-right: 0.5rem;
  }
}
