// ===================================================
// =====  STICKY-BAR IN CHOOSE PRODUCT
// ===================================================

// sticky bar choose product & complete
// common clases for pickup == return & special clases for pickup != return inside sandwitch-wrapper
.sticky-top {
  max-width: 100%;
  z-index: 25;
}
.separator {
  display: none;
}
.reservation-summary-sticky-wrapper {
  text-align: center;
  background-color: var(--sticky-bar-bg);
}
.reservation-summary-sticky {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  max-width: 1140px;
  margin: 0 auto;
}
.reservation-summary_pickup_place {
  color: var(--sticky-bar-color);
  display: flex;
  width: 100%;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 10px 0 10px;
}
.reservation-summary_return_place {
  display: none;
}
.reservation-summary_pickup_date {
  color: var(--sticky-bar-color);
  display: flex;
  flex-wrap: nowrap;
  font-weight: 300;
  padding: 0 0 10px 10px;
}
.reservation-summary_return_date {
  color: var(--sticky-bar-color);
  display: flex;
  flex-wrap: nowrap;
  font-weight: 300;
  justify-content: flex-end;
  padding: 0 10px 10px 0;
}
.overflow-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}
.modify-button-wrapper {
  border-top: 1px solid var(--gray-500);
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
}
.modify-button {
  height: 100%;
  width: 100%;
  font-weight: 300;
  text-transform: uppercase;
  background-color: transparent;
  color: var(--sticky-bar-link-color);
  &:hover {
    color: var(--sticky-bar-link-color-hover);
  }
}
// =============================
// ===   Pickup != return mobile
// =============================
.sandwitch-wrapper {
  display: flex;
  width: 100%;
  .reservation-summary_pickup_place {
    width: 70%;
    padding: 10px 0 0 10px;
  }
  .reservation-summary_return_place {
    color: var(--sticky-bar-color);
    display: flex;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    width: 70%;
    padding: 0 0 10px 10px;
  }
  .reservation-summary_pickup_date {
    width: 30%;
    padding: 10px 10px 0 0;
    justify-content: flex-end;
  }
  .reservation-summary_return_date {
    width: 30%;
    padding: 0 10px 10px 0;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .reservation-summary-sticky {
    justify-content: initial;
    padding: 10px 0;
  }
  // pickup == return desktop
  .modify-button-wrapper {
    margin: 0 10px 0 2rem;
    padding: 0;
    width: 100px;
    border-top: none;
  }
  .push-to-the-right {
    margin-left: auto;
  }
  // old long arrow
  .separator {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray-500);
    padding: 0 1rem;
  }
  .reservation-summary_pickup_place,
  .reservation-summary_return_place {
    color: var(--sticky-bar-color);
    display: flex;
    width: fit-content;
    max-width: 23%;
    align-items: center;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    padding: 0 10px;
  }
  .reservation-summary_return_place {
    justify-content: flex-end;
    margin-left: auto;
  }
  .reservation-summary_pickup_date {
    min-width: fit-content;
    width: auto;
    padding: 0;
    align-items: center;
    justify-content: flex-start;
  }
  .reservation-summary_return_date {
    min-width: fit-content;
    width: auto;
    padding: 0;
    margin-right: 10px;
    align-items: center;
    justify-content: flex-end;
  }
  // =============================
  // ===   Pickup != return desktop
  // =============================
  .sandwitch-wrapper {
    width: 40%;
    justify-content: flex-end;
    .reservation-summary_pickup_place {
      padding: 0 10px;
      width: 60%;
      max-width: fit-content;
    }
    .reservation-summary_return_place {
      padding: 0 10px;
      width: 60%;
      max-width: fit-content;
      justify-content: flex-start;
    }
    .reservation-summary_pickup_date {
      width: auto; // reset width
      padding: 0;
      justify-content: flex-start;
    }
    .reservation-summary_return_date {
      width: auto; // reset width
      padding: 0;
      text-align: left;
      justify-content: flex-start;
    }
    &:first-child {
      justify-content: flex-start;
    }
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .sandwitch-wrapper .reservation-summary_pickup_place {
    width: 70%;
  }
  .reservation-summary_pickup_place,
  .reservation-summary_return_place {
    width: fit-content;
    max-width: 28%;
  }
  .sandwitch-wrapper {
    width: 40%;
  }
}

// ===== STICKY-BAR COMPLETE

.complete-summary-row {
  border-top: 1px solid var(--gray-500);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 10px;
  align-items: center;
}
.total-title {
  color: var(--gray-500);
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  line-height: 1;
  margin-right: 1rem;
}
.complete-buttons-wrapper {
  display: flex;
}
.complete-button {
  height: 50px;
  display: flex;
  padding: 0 20px;
  align-self: flex-end;
  align-items: center;
  font-weight: 300;
  text-transform: uppercase;
  background-color: transparent;
  color: var(--sticky-bar-link-color);
  border-left: 1px solid var(--gray-500);
  &:hover {
    color: var(--sticky-bar-link-color-hover);
  }
}
.complete-summary-price {
  display: flex;
}
.complete-summary-item_price {
  font-weight: 800;
  font-size: 1.7rem;
  color: var(--sticky-bar-price-color);
  line-height: 0.8;
}
.modify-dates-button {
  margin-left: 2rem;
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .complete-summary-row {
    border-top: none;
    padding: 10px 0 0 10px;
  }
  .complete-button {
    border-left: none;
    height: auto;
  }
}
