// ===================================================
// =====  STICKY-BAR IN CHOOSE PRODUCT
// ===================================================

.reservation-summary-sticky-wrapper {
  text-align: center;
  background-color: var(--sticky-bar-bg);
}
// sticky bar choose product & complete
.sticky-top {
  width: 100%;
  z-index: 25;
}
.reservation-summary-sticky {
  margin: 0 auto;
  max-width: 1140px;
  display: flex;
  padding: 0.6rem 1rem;
  justify-content: space-around;
  .modify-button {
    display: flex;
    align-items: center;
    button {
      background-color: transparent;
      margin-left: 1rem;
    }
    i {
      font-size: 2rem;
      color: var(--sticky-bar-icons-color);
      transition: 0.2s ease-in-out;
      &:hover {
        color: var(--sticky-bar-icons-color-hover);
      }
    }
  }
}

.reservation-summary-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  p {
    font-weight: 300;
    text-align: left;
    color: var(--sticky-bar-color);
    margin: 0;
    padding: 0;
    font-size: 1rem;
    text-transform: uppercase;
    &:first-child {
      margin-right: 1rem;
    }
  }
  .place-title {
    color: var(--gray-500);
    font-weight: 700;
  }
}

.reservation-summary-separator {
  width: 3rem;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  i {
    color: var(--sticky-bar-arrow-icon-color);
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .modify-button {
    button {
      margin-left: 3rem;
    }
  }
  .reservation-summary-item {
    align-items: center;
    flex-direction: row;
    span {
      float: left;
    }
  }
}

@media (max-width: 991.98px) {
  .bold-on-mobile {
    font-weight: 700;
  }
}
