/*
* MYBOOKING TESTIMONIALS
*************************************/

.testimonial-item {
  align-items: center;
  padding: 2rem 0;
  margin: 0;
}

.testimonial-item_message {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.testimonial-item_content {
  max-width: 100%;
  padding-top: 25px;
  margin-left: -20px;
  text-align: center;
  font-size: 1.2em;
  font-weight: 300;
}

.testimonial-item_quote {
  max-height: 20px;
  margin-top: -5px;
}

.testimonial-item_avatar {
  text-align: center;
}

.testimonial-item_image {
  max-height: 80px;
  margin-bottom: .5rem;
}

@media (min-width: 578px) {
  .testimonial-item_content {
    max-width: 95%;
    padding: 0;
    text-align: left;
  }

  .testimonial-item_message {
    margin-bottom: 0;
  }

  .testimonial-item_quote {
    max-height: 20px;
  }

  .testimonial-item_image {
    max-height: 50px;
  }
}
