/** Import parts **/

@import "parts/index";

.shadow-bottom {
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 5px 5px 4px 4px;
}

.total-price {
  font-size: 2rem;
}

.ui-datepicker {
  z-index: 5000 !important;
}

.counter {
  .center {
    width: 150px;
    margin: 40px auto;
  }
}
.wrapper-footer {
  background-color: darken($brand-primary, 40%);
  color: $white;
}
