/**
*   WOOCOMMERCE OVERRIDING
*   ----------------------
*
* 	Versión: 0.0.2
*   @package WordPress
*   @subpackage Mybooking WordPress Theme
*   @since Mybooking WordPress Theme 0.9.5
*/

/* General styles */

// Titles
.woocommerce-page .page-title {
  font-weight: 300;
}

// Offer badge
.woocommerce span.onsale {
  height: 10px!important;
  min-width: auto!important;
  padding: .302em;
  font-weight: 700;
  position: absolute;
  text-align: center;
  line-height: 2.6;
  top: 8px!important;
  left: 0px!important;
  right: 8px!important;
  margin: 0;
  border-radius: 5px 5px 0 0;
  background-color: var(--brand-primary);
  color: #fff;
  font-size: 1.1em;
  z-index: 9;
}



// Buttons
.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt:disabled[disabled],
.woocommerce #respond input#submit.alt:disabled[disabled]:hover,
.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt:disabled[disabled],
.woocommerce a.button.alt:disabled[disabled]:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt:disabled[disabled],
.woocommerce input.button.alt:disabled[disabled]:hover,
.woocommerce button.button,
.woocommerce a.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce input.button {
  color: #FFF;
  text-transform: uppercase;
  padding: .95rem 1.6rem;
  font-weight: 700;
  background-color: var(--brand-primary);
  border: 1px solid var(--brand-primary);
  border-radius: 3px;
  letter-spacing: 1px;
}

.woocommerce .woocommerce-error .button,
.woocommerce .woocommerce-info .button,
.woocommerce .woocommerce-message .button,
.woocommerce-page .woocommerce-error .button,
.woocommerce-page .woocommerce-info .button,
.woocommerce-page .woocommerce-message .button {
  float: right;
  color: var(--brand-primary);
  background-color: transparent;
  border: 1px solid var(--brand-primary);
  padding: .5rem 1.2rem;
  font-size: .6em;
  border-radius: 3px;
}

// Forms
.woocommerce form .form-row label {
  width: 100%;
}

.woocommerce form .password-input input[type=password],
.woocommerce-page form .password-input input[type=password],
.woocommerce input[type=text],
.woocommerce input[type=tel],
.woocommerce input[type=email] {
  height: 48px;
  border: 1px solid #CCC;
  padding: 0 .8rem;
  border-radius: 3px;
}

.woocommerce form .password-input input[type=password],
.woocommerce-page form .password-input input[type=password] {
  display: block;
}

.woocommerce textarea {
  min-height: 350px;
  border: 1px solid #CCC;
  border-radius: 3px;
  padding: 0 .8rem;
}

.woocommerce-input-wrapper {
  width: 100%;
  display: block;
}

.select2-container--default .select2-selection--single {
  border: 1px solid #CCC;
  border-radius: 3px;
  height: 48px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 48px;
}

.woocommerce .woocommerce-billing-fields::after,
.woocommerce .woocommerce-shipping-fields::after,
.woocommerce-page .woocommerce-billing-fields::after,
.woocommerce-page .woocommerce-shipping-fields::after {
  margin-bottom: 1rem;
}

@media ( min-width: 575px ) {
  .woocommerce form.login, .woocommerce form.register {
    width: 100%;
    margin: 2em auto;
  }
}


/*
*  PRODUCT LOOP
*/

// Loop page

.woocommerce .woocommerce-ordering {
  margin-bottom: 2rem;
}

.orderby {
  height: 48px;
  border: 1px solid #CCC;
  border-radius: 3px;
  padding: .5rem;
  background-color: white;
  color: #333;
}

// Loop product
.woocommerce .products ul,
.woocommerce ul.products {
  margin: 0 0 2em;
  padding: 0;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  margin: 0 1.8% 2.992em 0;
  border-radius: 5px;
  box-shadow: -6px 12px 50px -10px rgb(204, 204, 204);
}

.woocommerce ul.products li.last,
.woocommerce-page ul.products li.last {
  margin-right: 0;
}

.woocommerce .woocommerce-loop-product__link span.onsale {
  height: 10px!important;
  min-width: auto!important;
  padding: .302em;
  font-weight: 700;
  position: absolute;
  text-align: center;
  line-height: 2.6;
  top: 8px!important;
  left: 0px!important;
  right: 8px!important;
  margin: 0;
  border-radius: 5px 5px 0 0;
  background-color: var(--brand-primary);
  color: #fff;
  font-size: 1.1em;
  z-index: 9;
}

.woocommerce ul.products li.product a img {
  border-radius: 5px 5px 0 0;
}

.woocommerce-loop-product__link {
  text-decoration: none;
}

.woocommerce-loop-product__title {
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: var(--brand-secondary);
}

.woocommerce-loop-product__link .price {
  text-align: center;
  font-weight: bold!important;
  letter-spacing: 1px;
  color: var(--brand-primary)!important;
}

.woocommerce a.btn-choose-product {
  display: block;
  font-weight: 400;
  font-size: 1em;
  text-transform: none;
  text-align: center;
  letter-spacing: 0;
  padding: .6rem;
  -webkit-transition: ease-in-out .15s!important;
  margin: 0 1rem 1rem 1rem;
  transition: ease-in-out .15s!important;
  border-radius: 50px!important;
  background-color: transparent!important;
  border-color: var(--brand-primary)!important;
  color: var(--brand-primary)!important;
}

.woocommerce a.btn-choose-product:active,
.woocommerce a.btn-choose-product:hover {
  background-color: var(--brand-primary-dark)!important;
  color: white!important;
  opacity: 1!important;
}

.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
  background-color: var(--brand-primary);
  text-decoration: none;
  background-image: none;
  color: #FFF;
  opacity: .5;
}

.woocommerce a.added_to_cart {
  padding: 0!important;
  display: block!important;
  line-height: 3;
  text-align: center;
  font-size: .8em;
}

// Loop columns
.woocommerce ul.products[class*=columns-] li.product,
.woocommerce-page ul.products[class*=columns-] li.product {
  width: 100%;
}

@media ( min-width: 575px ) {
  .woocommerce ul.products[class*=columns-] li.product,
  .woocommerce-page ul.products[class*=columns-] li.product {
    width: 45%;
  }

  .woocommerce ul.products[class*=columns-] li.product .woocommerce-loop-product__title,
  .woocommerce-page ul.products[class*=columns-] li.product .woocommerce-loop-product__title {
    font-size: 1em;
  }

  .woocommerce ul.products[class*=columns-] li.product .btn-primary,
  .woocommerce-page ul.products[class*=columns-] li.product .btn-primary {
    font-size: .8em;
    line-height: 1.2;
  }
}

@media ( min-width: 768px ) {
  .woocommerce ul.products[class*=columns-] li.product,
  .woocommerce-page ul.products[class*=columns-] li.product {
    width: 46%;
  }
}

@media ( min-width: 992px ) {
  .woocommerce ul.products[class*=columns-3] li.product {
    width: 30%;
  }

  .woocommerce-page ul.products[class*=columns-4] li.product {
    width: 23.65%;
  }

  .woocommerce-page ul.products[class*=columns-] li.product .woocommerce-loop-product__title {
    font-size: 1em;
  }

  .woocommerce-page ul.products[class*=columns-] li.product .btn-primary {
    font-size: .8em;
    line-height: 1.2;
  }
}

/*
*  SINGLE PRODUCT
*/

.woocommerce .entry-meta {
  display: none;
}

// Offer badge
.woocommerce span.onsale {
  height: 10px!important;
  min-width: auto!important;
  padding: .302em;
  font-weight: 700;
  position: absolute;
  text-align: center;
  line-height: 2.6;
  top: 8px!important;
  left: 0!important;
  right: 90%!important;
  margin: 0;
  border-radius: 50px;
  background-color: var(--brand-primary);
  color: #fff;
  font-size: 1.1em;
  z-index: 9;
}

// Product header
.woocommerce div.product .product_title {
  font-weight: 300;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
  color: var(--brand-primary);
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 1px;
}

.woocommerce div.product .rideon-woocommerce_product p.price,
.woocommerce div.product .rideon-woocommerce_product span.price {
  font-size: 1em;
}

// Product forms
.woocommerce div.product form.cart .variations td.label {
  vertical-align: middle;
  text-align: center;
}

.woocommerce div.product form.cart .variations td.label label {
  margin: 0;
}

.woocommerce div.product form.cart .variations select {
  height: 48px;
  border: 1px solid #CCC;
  border-radius: 3px;
}

.woocommerce .quantity .qty {
  height: 48px;
  box-shadow: none;
  border: 1px solid #CCC;
  border-radius: 3px;
}

.woocommerce div.product .stock {
  padding-top: 1rem;
  color: var(--brand-primary-dark);
  border-top: 1px solid #CCC;
}

// Product buttons
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
  color: #FFF;
  background-color: var(--brand-primary);
  border: 1px solid var(--brand-primary);
  opacity: .5;
}

// Product alerts
.woocommerce div.product .out-of-stock {
  margin: 0;
  padding: 1rem;
  color: #FFF;
  background-color: var(--brand-primary-light);
  border-radius: 3px;
}

// Product meta
.woocommerce div.product_meta > span,
.woocommerce div.product_meta > span {
  display: block;
  width: 100%;
}

// Product tabs
.woocommerce div.product .woocommerce-tabs ul.tabs {
  margin: 0;
}

.woocommerce div.product .woocommerce-tabs .panel {
  margin: 0 0 2rem 0;
  padding: 2rem;
  border-left: 1px solid #d3ced2;
  border-right: 1px solid #d3ced2;
  border-bottom: 1px solid #d3ced2;
}

.rideon-woocommerce_tab-panel-title {
  display: none;
}

.rideon-woocommerce_tabs-panel h2,
.rideon-woocommerce_tabs-panel h3,
.rideon-woocommerce_tabs-panel h4 {
  font-weight: 300;
}

// Product images

.woocommerce div.product div.images .flex-control-thumbs {
  margin-top: 1rem;
}

// Related products
.related.products h2 {
  margin-bottom: 2rem;
}

/*
*  CART
*/

.woocommerce table.shop_table {
  border: none;
}

// Titles
.woocommerce-cart-form thead,
.woocommerce-cart-form thead .product-name {
  font-size: 1em;
}

.woocommerce-cart-form .product-name {
  font-size: 1.2em;
  text-transform: uppercase;
}

// Coupon field
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
    width: 150px;
}

// Table buttons
.woocommerce .shop_table button.button {
  color: #FFF;
  background-color: #AAA;
  border: 1px solid #AAA;
  border-radius: 3px;
}

.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled] {
  padding: .95rem 1.6rem;
}

/*
*  CHECKOUT
*/

// Columns
.woocommerce .col2-set,
.woocommerce-page .col2-set {
    width: 100%;
    margin-bottom: 2rem;
}

// Titles
.woocommerce .col2-set h3 {
  font-size: 1.7em;
}

#order_review_heading {
  font-size: 1.7em;
  font-weight: 300;
}

.woocommerce-checkout thead,
.woocommerce-checkout thead .product-name {
  font-size: 1em;
}

.woocommerce-checkout .product-name {
  font-size: 1.1em;
  text-transform: uppercase;
}

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
    background: #EEE;
    border-radius: 3px;
}

/*
*  CONFIRMATION
*/

.woocommerce ul.order_details {
    margin: 1rem 0;
    padding: 1rem;
    background-color: #EEE;
    list-style: none;
}

.woocommerce .woocommerce-customer-details address {
  margin-top: 1rem;
  border: 1px solid #CCC;
  border-bottom-width: 1px;
  border-right-width: 1px;
  width: 100%;
  border-radius: 3px;
  padding: 1rem;
}

/*
*  ACCOUNT
*/

.woocommerce-account .woocommerce-MyAccount-navigation ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  border-top: 1px solid #CCC;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li {
  padding: .5rem;
  border-bottom: 1px solid #CCC;
}

// Adresses
.woocommerce-Address-title.title {
  text-align: left;
  align-items: flex-start;
  align-content: flex-start;
}

// Orders
.woocommerce table.shop_table th.woocommerce-table__product-name.product-name,
.woocommerce table.shop_table td.woocommerce-table__product-name.product-name {
  font-size: 1.6em;
}
