//==============================================
// Module/ form selector
//==============================================

// Widget Container
.widget_mybooking_rent_engine_selector {
  width: 100%;
}

// Horizontal Selector

.flex-form-horizontal {
  display: flex;
  flex-direction: column;
  background-color: $transparent-white;
  padding: 10px;
  color: #333;
}

.flex-form-group-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 2;
}

.home-alone .flex-form-group-wrapper {
  flex-direction: row;
}

.flex-form-horizontal-item {
  display: flex;
  select {
    width: 100%;
    min-width: 70px;
  }
}

/* Form group */

.flex-form-group {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  input.hasDatepicker {
    flex-grow: 1;
  }
}

/* Form group without label (search button) */

.flex-form-group-no-label {
  flex-direction: row;
  align-items: flex-end!important;
}

.flex-form-group-no-label input {
  margin-left: 10px;
  height: 48px; /* To match the input height */
}

.flex-form-horizontal-box {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.flex-form-horizontal-item {
  display: flex;
  select {
    display: flex;
    flex-grow: 1;
  }
}

// Date icon

.flex-icon { 
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  background-color: #fff;
  padding: 0.8rem;
  height: 48px;
  color: $gray-700;
}

// Select wrapper for showing the arrow

.form_selector-select_label_wrap {
    width: 100%;
}

.form_selector-select_dropdown{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form_selector-select_label_wrap:after {
    content:"\f107";
    font-family: FontAwesome;
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 20px;
    z-index: 1;
    width: 10%;
    height: 100%;
    pointer-events: none;
    color: $gray-700;
}

// Sticky behaviour

.flex-form-sticky {
  display: flex;
  align-items: end;
  flex-direction: row;
  flex-grow: 1;
  background-color: $gray-200;
  position: fixed;
  padding: 10px;
  z-index: 10000;
  color: #333;
  width: 100%;
  left: 0;
  top: 0;
  // Form group
  .flex-form-group {
    flex-direction: row;
  }
  // Search button container
  .flex-form-horizontal-box:last-child {
    margin-left: 5px;
    flex-grow: 1;
    align-self: flex-end;
  }
  // Search button
  .btn { 
    height: 48px;
    position: relative;
    top: -8px;
  }
  // Date input
  input.hasDatepicker {
    max-width: 130px;
  }
  // Labels
  label {
    font-size: 13px;
  }
}


// Search form components

form[name=search_form] .flex-form-horizontal-item {
  border: 1px solid #ddd;
}


// Checkbox

.button-group-pills {
  position: absolute;
  top: -10px;
  right: 0px;
  .btn {
    height: auto !important;
    margin-top: 0 !important;
    padding: 0.3rem;
    cursor: pointer;
    border-radius: 25px;
    line-height: 1;
    background-color: $brand-primary;
    color: #fff;
    width: 100px;
    font-size: 12px;
    transition: 0.2s ease-in-out;
    &:hover {
      background-color: darken($brand-primary, 10%);
      color: #fff;
    }
    &.active {
      background-color: #fff;
      color: $brand-primary;
      box-shadow: none;
    }
  }
}

// Media Queries

@media (max-width: 575.98px) {
  .flex-form,
  .flex-form-horizontal {
    min-width: 100%;
  }
  input.hasDatepicker {
    max-width: 130px;
  }
}

@media (max-width: 768px) {

  .flex-form-group-no-label {
    margin-top: 10px;
    flex-direction: column;
    align-items: inherit !important;
  }

  .flex-form-group-no-label input {
    width: 100% !important;
    margin-left: 0;
  }

}

@media (min-width: 768px) {
  .flex-form-group:nth-child(2n) {
    margin-left: 10px;
  }
}

@media (max-width: 992px) {
  .flex-form,
  .flex-form-horizontal {
    width: 100%;
    padding: 20px;
  }
}

@media (min-width: 992px) {
  .home-alone .flex-form-horizontal {
    max-width: 745px;
    margin: 0 auto;
  }

  .home-header_content_container_sticky .flex-form-horizontal {
    min-width: 100%;
  }

  .home-alone .flex-form-group-wrapper {
    flex-direction: row;
  }
}

@media (max-width: 1199.98px) {
  .flex-form-horizontal-item select {
    width: 100%;
  }
}
