//==============================================
// Modules Manifest
//==============================================

// Module Rules
//
// Module is a more discrete component of the page.
// It is your navigation bars and your carousels and your dialogs and your widgets, buttons and so on.
// Each Module should be designed to exist as a standalone component.
//
// Naming convention:
// The class-based selectors, however, do use an m- prefix.
//
// Elements: buttons, inputs, news boxes, carousel.
//
// Read more - https://smacss.com/book/type-module
//

@import "cookies";
@import "buttons";
@import "carousel";
@import "forms";
@import "form_selector";
@import "form_selector_wizard";
@import "nav";
@import "icon_panel";
@import "card_static";
@import "magic_cards";
@import "magic_cards_horizontal";
@import "steps";
@import "steps_landing";
@import "titles";
@import "product_detail";
@import "product_post";
@import "go_top";
@import "blockquote";
@import "extras_cards";
@import "reservation_detail";
@import "key_characteristics";
@import "scroll_down";
@import "tables";
@import "reservation_summary_sticky";
@import "reservation_summary_sidebar";
@import "reservation_summary_modal";
@import "complete_summary_sticky";
