//==============================================
// Module/nav
//==============================================

// Topbar
.topbar {
  font-size: 0.9em;
  margin-top: 0;
  position: relative;
  z-index: 30;
  padding: 0.3rem 1rem;
  background-color: darken($brand-primary, 40%);
  float: left;
  width: 100%;
  a {
    color: white;
    &:hover {
      color: lighten($brand-primary, 45%);
      text-decoration: none;
    }
  }
  i {
    color: $white;
  }
}

.topbar a:hover {
  color: #fff;
  opacity: 0.5;
}

.topbar .info_link {
  margin: 0 0 0 1em;
}

.topbar .topbar_menu {
  float: right;
}

.topbar .topbar_menu .menu {
  margin: 0;
}

.topbar .topbar_menu li {
  display: inline-block;
  margin: 0 0.5em;
}

@media (max-width: 798px) {
  .topbar {
    text-align: center;
  }

  .topbar .topbar_menu {
    float: none;
    margin: 0.5rem auto;
  }
}

@media (max-width: 575.98px) {
  .topbar .menu,
  .topbar .info_text {
    display: none;
  }

  .topbar .info_link {
    margin: 0 2em;
  }
}

.custom-logo-link {
  width: 200px;
}

/* Navbar */
/* Occupies the top of the page */
.home .navbar-container {
  width: 100%;
  top: 0;
  z-index: 30;
}

.bg-nav {
  width: 100%;
  margin-top: 0;
  background-color: #555;
  background-color: var(--nav-bg-color);
}

/* Nav bar in front of the image and transparent */
.home .nav-container-absolute {
  position: absolute;
}

.home .nav-container-absolute .bg-nav {
  background: none;
}

.navbar-brand {
  margin: 0;
  float: left;
}

.navbar-dark .navbar-toggler {
  border: none;
  padding: 0;
}

.navbar-toggler-icon {
  color: $white;
}

.navbar {
  z-index: 10;
  padding: 0.5rem 0;
}

.navbar-collapse {
  .navbar-nav .nav-link {
    color: $white;
  }
}

.navbar-nav .nav-link {
  color: $white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}

.navbar .dropdown-item {
  color: $gray-800;
}

.navbar-dark .navbar-nav .nav-link {
    color: #FFF;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    opacity: .5;
}

.navbar-dark .navbar-nav .active .nav-link {
    color: #333;
}

// Navpanels
.navpanel_opener {
  margin: 0 3px;
}

.navpanel-dialog .modal-header {
  border-bottom: none;
  padding-bottom: 0;
}

.modal-backdrop {
  display: none;
}

@media (max-width: 575.98px) {
  .home .bg-nav .navbar-brand img {
    display: block;
  }

  .navbar-container {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 30;
  }

  .home .nav-container-absolute {
    position: fixed;
  }

  .bg-nav {
    box-shadow: 1px 3px 3px #666;
  }

  .navbar-collapse {
    display: table;
    width: 100%;
    height: 100vh;
  }

  .navbar-nav {
    display: table-cell;
    padding-bottom: 150px;
    vertical-align: middle;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 0.5rem 1rem;
  }

  .navbar-brand {
    margin: 0 1rem;
  }

  .navbar-nav {
    text-align: center;
    margin-bottom: 50px;
  }

  .navbar-nav .nav-link {
    font-size: 1.3em;
  }

}

@media (min-width: 768px) {
  .navbar > .container,
  .navbar > .container-fluid {
      justify-content: center;
  }

}

@media (min-width: 1024px) {
  .home .topbar {
    background-color: rgba(66, 66, 66, 0.5);
  }

}
