//==============================================
// Module/steps
//==============================================

$steps-white: hsl(0, 0%, 100%);
$grey: hsl(226, 10%, 55%);
$disa: hsl(226, 15%, 83%);

.steps-wrapper {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: $black;
  background-color: $gray-200;
  #steps {
    padding-left: 30px;
  }
}

.step {
  width: 40px;
  height: 40px;
  background-color: $steps-white;
  display: inline-block;
  border: 4px solid;
  border-color: transparent;
  border-radius: 50%;
  color: $disa;
  font-weight: 600;
  text-align: center;
  line-height: 26px;
}
.step:first-child {
  line-height: 30px;
}
.step:nth-child(n + 2) {
  margin: 0 0 0 120px;
  transform: translate(0, -4px);
}
.step:nth-child(n + 2):before {
  width: 100px;
  height: 3px;
  display: block;
  background-color: $steps-white;
  transform: translate(-120px, 15px);
  content: "";
}
.step:after {
  width: 180px;
  display: block;
  transform: translate(-70px, 3px);
  color: $grey;
  content: attr(data-desc);
  font-weight: 700;
  font-size: 13px;
  margin-top: 10px;
}
.step:first-child:after {
  transform: translate(-70px, -1px);
}
.step.active {
  border-color: $brand-primary;
  color: $brand-primary;
}
.step.active:before {
  background: linear-gradient(
    to left,
    $brand-primary 0%,
    $brand-secondary 100%
  );
}
.step.active:after {
  color: $brand-primary;
}
.step.done {
  background-color: $brand-secondary;
  border-color: $brand-secondary;
  color: $steps-white;
}
.step.done:before {
  background-color: $brand-secondary;
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .steps-wrapper {
    display: none;
  }
}
