//==============================================
// Layout/Blog
//==============================================

.entry-title {
  font-weight: 900;
}
.entry-meta {
  margin: 12px 0;
}
.entry-content {
  margin: 30px 0;
}
