//==============================================
// Layout/ Footer
//==============================================
.footer {
  overflow-x: hidden;
  padding: 3rem 0 3rem 0;
  background-color: #111;
  color: $gray-400;
  h6 {
    text-transform: uppercase;
    font-weight: 700;
    color: $gray-400;
    height: 30px;
  }
  .logo-footer {
    margin-bottom: 0.5rem;
  }
  ul:after { /* Clearfix */
    content: "";
    display: table;
    clear: both;
  }
  ul {
    margin: 0;
    padding: 0;
    display: block;
    li {
      list-style: none;
      a {
        color: $gray-400;
        text-decoration: none;
        transition: all 0.4s;
        &:hover {
          color: $brand-primary;
        }
      }
    }
  }
}
.copy {
  color: $gray-400;
  background-color: darken($brand-primary, 40%);
  padding-top: 1rem;
}
@media (max-width: 768px) {
  .footer {
    text-align: center;
    .col {
      display: block;
      min-width: 100%;
    }
    h6 {
      margin-top: 1rem;
    }
    .social-links {
      display: inline-block;
      text-align: center;
    }
  }
  .logo-footer {
    display: inline-block;
  }
}
