//==============================================
// Layout/Hero header
//==============================================

// Vertical
.home-header {
  position: relative;
  height: fit-content;
  padding: 8rem 0 5rem 0;
  flex-direction: column;
  background-color: #666;
  z-index: 2;
}

.home-header_background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  mix-blend-mode: overlay;
}

.home-header_content {
  display: flex;
  flex-direction: column;
  min-height: fit-content;
  align-items: center;
  justify-content: center;
}

.home-alone:not(.form),
.home-left:not(.form),
.home-right:not(.form) {
  color: #FFF;
}

@media (max-width: 575.98px) {
  .home-header {
    padding: 8rem 0 0 0;
  }
}

@media (min-width: 768px) {
  .home-header {
    flex-direction: row;
  }
}

@media (min-width: 1200px) {

}
