//==============================================
// Layout/Hero header
//==============================================

// Vertical
.hero-header-container {
  position: relative;
  width: 100%;
  padding-bottom: 100px;
  background: url(../images/bg-image.jpg) no-repeat center center;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: $gray-700;
}

.hero-header-content {
  display: flex;
  flex-direction: column-reverse;
}

.hero-header-content h1,
.hero-header-content-horizontal h1 {
  font-weight: 900;
}

.hero-header-content h1,
.hero-header-content p,
.hero-header-content-horizontal h1,
.hero-header-content-horizontal p {
  color: $white;
}

.hero-header-content-horizontal h1,
.hero-header-content-horizontal p {
  text-align: center;
}

.hero-header-left {
  display: flex;
  order: 1;
  width: 100%;
  height: 500px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.aligner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 50%;
}

.hero-header-right {
  display: flex;
  order: 2;
  width: 100%;
  height: 500px;
  align-items: center;
  justify-content: center;
}

.diagonal-section {
  position: absolute;
  background-color: #fff;
  width: 110%;
  bottom: -5%;
  left: -5%;
  transform: rotate(-2.5deg);
  height: 150px;
}

@media (max-width: 575.98px) {
  .hero-header-container {
    margin-top: 0;
    padding-top: 100px;
  }

  .hero-header-left {
    width: 100%;
    height: 30vh;
  }

  .aligner {
    max-width: 70%;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .hero-header-container {
    margin-top: -100px;
    padding-top: 100px;
    height: 70vh;
  }

  .hero-header-left {
    width: 80%;
    background-color: transparent;
    height: 50vh;
    margin-top: 2em;
  }

  .aligner {
		  max-width: 80%;
	}

  .hero-header-right {
    width: 100%;
    height: 50vh;
  }

  .hero-header-content {
    display: flex;
    flex-direction: row;
    height: 750px;
  }
}

@media (min-width: 1200px) {
  .hero-header-container {
    height: 90vh;
  }

  .hero-header-left {
    height: 60vh;
  }

  .hero-header-right {
    height: 70vh;
  }
}

// Horizontal
.aligner-horizontal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 90%;
}
.hero-header-content-horizontal {
  display: flex;
  flex-direction: column;
  height: 700px;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1200px) {
  .aligner-horizontal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 50%;
  }
}
