//==============================================
// Layout/Hero header
//==============================================

// Vertical
.hero-header-container {
  background: url(../images/bg-image.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
  padding-bottom: 100px;
  background-blend-mode: overlay;
  background-color: $gray-700;
}

.hero-header-content {
  display: flex;
  flex-direction: column-reverse;
}

.hero-header-left {
  display: flex;
  order: 1;
  width: 100%;
  height: 500px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: $white;
}

.aligner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 50%;
}

.hero-header-right {
  display: flex;
  order: 2;
  width: 100%;
  height: 500px;
  align-items: center;
  justify-content: center;
}

.diagonal-section {
  position: absolute;
  background-color: #fff;
  width: 110%;
  bottom: -5%;
  left: -5%;
  transform: rotate(-2.5deg);
  height: 150px;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 768px) {
  .hero-header-container {
    margin-top: -100px;
    padding-top: 100px;
  }

  .hero-header-left {
    width: 60%;
    background-color: transparent;
    height: 60vh;
  }

  .hero-header-right {
    width: 40%;
    height: 60vh;
  }

  .hero-header-content {
    display: flex;
    flex-direction: row;
  }
}

// Horizontal

.aligner-horizontal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 90%;
}
.hero-header-content-horizontal {
  display: flex;
  flex-direction: column;
  height: 700px;
  align-items: center;
  justify-content: center;
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .aligner-horizontal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 50%;
  }
}
