//==============================================
// Layout/WordPress Pages
//==============================================

// WordPress Pages
.page .entry-title {
  text-transform: uppercase;
}

.page_content {
  padding: 3rem 0;
}

.post-navigation {
  margin: 2rem 0;
}

@media (max-width: 575.98px) {
  .home .page_content {
    padding: 2rem;
  }

  .blog .page_content,
  .single .page_content,
  .page .page_content {
    padding: 8rem 1rem;
  }
  .home .page_content {
    padding: 2rem;
  }
}

// Mybooking Pages
.mybooking_page {
  background-color: #FFF;
  z-index: 300;
  margin-top: 65vh;
}

.page_header {
  position: fixed;
  top: 0;
  width: 100%;
  max-height: 80vh;
  overflow: hidden;
  z-index: -1;
  background-color: #333;
}

.page_header img {
  position: relative;
  bottom: 10vh;
  opacity: .7;
}

.mybooking_page .entry-title {
  margin-top: -50vh;
  color: #FFF;
}

.page_sidebar {
  float: right;
  padding: 2rem;
  background-color: #FFF;

  margin-top: -30vh;
  box-shadow: rgba(0,0,0,0.25) 0px 3px 11px 0;
}

@media (max-width: 575.98px) {
  .page_header {
    height: 100vh;
    overflow: visible;
  }
  .page_header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }
  .page_sidebar {
    margin-bottom: 3rem;
  }
}
