// Steps Landing

span.stopa {
  border: 1px solid $transparent-white;
  border-radius: 1.8em;
  color: $transparent-white;
  display: inline-block;
  line-height: 2.6em;
  text-align: center;
  width: 2.6em;
}

.stopa-2::before,
.stopa-2::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 21px;
  background-color: $transparent-white;
  height: 1px;
  width: calc(100% - 20px);
}

.stopa-2::before {
  right: calc(50% + 20px);
}

.stopa-2::after {
  left: calc(50% + 20px);
}
