// ==========================================================================
// Base Rules
// ==========================================================================

html {
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
  font-size: 16px;
  background-color: var(--body-bg);
  color: var(--body-color);
}

// Avoid issues when showing modals
body.modal-open {
  height: 100vh;
  overflow-y: hidden;
  padding-right: 0px !important;
  overflow-y: scroll !important;
}

// Typo
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  color: var(--font-heading-color);
}
// Links
a:link {
  color: var(--color-link);
}
a:visited {
  color: var(--color-link-visited);
}
a:hover,
a:focus {
  color: var(--color-link-hover);
}
a:active {
  color: var(--color-link-active);
}

blockquote {
    margin: 0 0 1rem 1rem;
    font-size: 1.25rem;
}

// Card
.card {
  border-radius: 0;
}
