//==============================================
// Module/buttons
//==============================================
// Overwriting bootstrap styles
.btn-primary,
.btn-primary:not(:disabled):not(.disabled):active {
  padding: var(--btn-padding);
  background-color: var(--btn-bg-color);
  border-color: var(--btn-border-color);
  letter-spacing: var(--btn-text-spacing);
  font-weight: var(--btn-font-w);
  text-transform: var(--btn-text-transform);
  &:hover {
    background-color: var(--btn-bg-color-hover);
    border-color: var(--btn-border-color-hover);
  }
}
.btn {
  cursor: pointer;
  border-radius: var(--btn-border-radius);
}
button,
[type="button"] {
  -webkit-appearance: none;
  border: none;
}

.btn-outline-dark {
  color: var(--brand-primary)!important;
  border: 2px solid var(--btn-border-color);
  padding: var(--btn-padding);
  letter-spacing: var(--btn-text-spacing);
  font-weight: var(--btn-font-w);
  text-transform: var(--btn-text-transform);
  &:hover {
    background-color: var(--brand-primary);
    border-color: var(--brand-primary);
    color: var(--btn-color-hover)!important;
  }
}
