//==============================================
// Base/ forms
//==============================================

select {
  border-radius: 0px;
  padding: 0 0.8rem;
  text-indent: 1px;
  text-overflow: "";
  border: 0;
  font-size: 0.8rem;
  height: 48px;
  color: var(--gray-700);
  background-color: var(--white);
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  &:focus {
    outline: none;
    box-shadow: none;
    border: 0;
  }
}
// Bootstrap forms overrides
.input-group > .form-control {
  height: 48px;
}
.form-group select.form-control {
  border: 1px solid var(--gray-400);
  border-radius: 3px;
  box-shadow: none;
  display: inline-flex;
  padding: 0 0.8rem;
  font-size: 0.8rem;
  line-height: 18px;
  color: var(--gray-700);
  height: 48px;
  margin-top: 8px;
}
.input-group-prepend > .input-group-text {
  border-radius: 0;
}
.form-control {
  border-radius: 0;
}
// jquery ui overrides
input[type="text"],
input[type="password"],
.ui-autocomplete-input,
textarea,
.uneditable-input {
  display: inline-flex;
  padding: 0 0.8rem;
  font-size: 0.8rem;
  line-height: 18px;
  color: var(--gray-700);
  height: 48px;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
// Custom forms
.custom-form {
  input[type="text"],
  input[type="password"],
  .ui-autocomplete-input,
  textarea,
  .uneditable-input {
    border: 1px solid var(--gray-400);
    border-radius: 3px;
  }
}
// Labels
label {
  position: relative;
}
// Custom icons
.custom-icon {
  position: absolute;
  font-size: 18px;
  color: var(--gray-700);
  right: 8px;
  top: 48px;
}
.custom-icon-select {
  @extend .custom-icon;
  top: 16px;
}
// Error styles
.form-reservation-error {
  color: var(--error);
}
input.form-reservation-error {
  color: var(--error) !important;
}
// Form Dates
.custom-date-form {
  display: flex;
  select {
    padding-right: 30px !important;
  }
  .fas,
  .fa {
    margin-left: -20px;
  }
}
.custom-date-form > div:nth-child(2n) {
  margin: 0 5px;
}
.custom-date-item {
  display: flex;
  align-items: baseline;
  flex-grow: 1;
  select.form-control {
    margin-top: 0;
  }
}
// Extra inputs
.input-group > .form-control.extra-input {
  border-top: 1px solid var(--gray-500);
  border-bottom: 1px solid var(--gray-500);
}
// Disabled components
input[type="text"]:disabled,
select:disabled {
  background-color: var(--gray-200);
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .flex-form-group input.hasDatepicker {
    max-width: 145px;
  }
}
