/**
*   GUTENBERG SUPPORT
*   -----------------
*
* 	@version 0.0.2
*   @package WordPress
*   @subpackage Mybooking WordPress Theme
*   @since Mybooking WordPress Theme 0.9.6
*/

/*
*  GENERAL
*
*/

// Canvas
@media (min-width: 992px) {
  .alignwide {
     width:  var(--alignwide-width);
     max-width:  var(--alignwide-width);
     margin-left:  var(--alignwide-centering);
  }

  .alignfull {
    width:  var(--alignfull-width);
    max-width:  var(--alignfull-width);
    margin-left:  var(--alignfull-centering);
  }

  .wp-block-group.alignfull .wp-block-column {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .wp-block-group > .wp-block-group__inner-container .alignwide,
  .wp-block-group > .wp-block-group__inner-container .alignfull {
    width: 100%;
    max-width: 100%;
    margin: 3rem auto;
  }
}

// Color Palette // NOTE: defined in inc/setup.php
.has-primary-color {
  color: var(--brand-primary);
}

.has-primary-background-color {
  background-color: var(--brand-primary);
}

.has-primary-light-color {
  color: var(--brand-primary-light);
}

.has-primary-light-background-color {
  background-color: var(--brand-primary-light);
}

.has-primary-dark-color {
  color: var(--brand-primary-dark);
}

.has-primary-dark-background-color {
  background-color: var(--brand-primary-dark);
}

.has-secondary-color {
  color: var(--brand-secondary);
}

.has-secondary-background-color {
  background-color: var(--brand-secondary);
}

.has-secondary-light-color {
  color: var(--brand-secondary-light);
}

.has-secondary-light-background-color {
  background-color: var(--brand-secondary-light);
}

.has-secondary-dark-color {
  color: var(--brand-secondary-dark);
}

.has-secondary-dark-background-color {
  background-color: var(--brand-secondary-dark);
}

.has-info-color {
  color: var(--info);
}

.has-info-background-color {
  background-color: var(--info);
}

.has-success-color {
  color: var(--success);
}

.has-success-background-color {
  background-color: var(--success);
}

.has-warning-color {
  color: var(--warning);
}

.has-warning-background-color {
  background-color: var(--warning);
}

.has-error-color {
  color: var(--error);
}

.has-error-background-color {
  background-color: var(--error);
}

/*
*  LAYOUT BLOCKS
*
*/

// Group Block
.wp-block-group.has-background {
  padding: 2rem;
  border-radius: var(--border-radius);
}

// Media Block
.wp-block-media-text {
  margin-bottom: 0;
}

.wp-block-media-text .wp-block-media-text__content {
  padding: 0 3rem;
}

// Columns Block
.wp-block-columns {
  margin-bottom: 3rem;
}

// Cover Block
.wp-block-cover {
  height: 0; // Fix image overflow
  margin-bottom: 3rem;
}

.wp-block-cover-image .wp-block-cover__inner-container, .wp-block-cover .wp-block-cover__inner-container {
  width: auto;
  max-width: 1110px;
}


/*
*  ELEMENT BLOCKS
*
*/

// Buttons Block
.wp-block-button {
  margin: 2rem 0;
}

.wp-block-button.alignleft {
  margin: 0 1rem 0 0;
}

.wp-block-button.alignright {
  margin: 0 0 0 1rem;
}


.wp-block-button__link {
  background-color: var(--btn-bg-color);
  border-color: var(--btn-border-color);
  border-radius: 3px;
  letter-spacing: 1px;
  font-weight: var(--btn-font-w);
  text-transform: var(--btn-text-transform);
}

// Outline button
.wp-block-button.is-style-outline > .wp-block-button__link {
  color: var(--btn-bg-color) !important;
  background-color: var(--white);
  border: 1px solid var(--btn-bg-color);
}

.wp-block-button.is-style-outline > .wp-block-button__link:hover {
  color: var(--white) !important;
  background-color: var(--btn-bg-color);
  border: 1px solid var(--btn-bg-color);
}


// Squared button
.wp-block-button.is-style-squared > .wp-block-button__link {
  border-radius: 0;
}

.wp-block-button__link:hover {
  text-decoration: none;
}

.wp-block-button__link:not(.has-text-color) {
  color: white!important;
}

.wp-block-button__link:not(.has-background) {
  background-color: var(--btn-bg-color);
}

.wp-block-button__link:not(.has-background):hover,
.wp-block-button__link:not(.has-background):focus {
  background-color: var(--btn-bg-color-hover);
}

// Image Block
.wp-block-image {
  margin-bottom: 3em;
}

// Quotes Block
.wp-block-quote,
.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
  border-left: 4px solid var(--brand-primary);
  margin: 0 0 3rem;
  padding-left: 2em;
  font-style: italic;
}

.wp-block-quote.has-text-align-right {
  border-left: 0;
  border-right: 4px solid var(--brand-primary);
  padding-right: 2rem;
}

.wp-block-quote.is-style-large.has-text-align-right,
.wp-block-quote.is-large.has-text-align-right {
  border-right: 4px solid var(--brand-primary);
  padding-right: 2rem;
}

.wp-block-quote > p {
  font-size: .9em;
  font-weight: 300;
}

.wp-block-quote cite,
.wp-block-quote footer,
.wp-block-pullquote cite,
.wp-block-pullquote footer {
  color: #6c7781;
  font-size: 13px;
  margin-top: 0;
  font-style: italic;
}

.wp-block-pullquote.is-style-default {
  border-top: 4px solid #2193F2;
}

.wp-block-pullquote.is-style-solid-color {
  border: none;
  background-color: #EEE;
}

.wp-block-pullquote.is-style-solid-color blockquote {
  text-align: center;
}

// Separator Block
.wp-block-separator {
    border: none;
    border-bottom: 2px solid #EEE;
    margin-left: auto;
    margin-right: auto;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  max-width: 100px;
}

.wp-block-separator.is-style-wide {
    border-bottom-width: 2px;
}

.wp-block-separator.is-style-dots::before {
  font-size: 30px;
  color: #CCC;
}

// Gallery Block
.wp-block-gallery {
  margin-bottom: 3rem;
}

.wp-block-gallery.alignfull {
  padding: 0 2rem;
}

// Video Block
.wp-block-video {
  margin-bottom: 3rem;
}

// Table Block
.wp-block-table {
  margin: 3rem;
}

.wp-block-table.alignwide {
  max-width: var(--alignwide-width);
  margin-left: var(--alignwide-centering);
}

.wp-block-table tfoot {
  border-top: 1px solid #EEEEEE;
  font-style: italic;
}

.wp-block-table.is-style-regular td,
.wp-block-table.is-style-regular th,
.wp-block-table.is-style-regular tfoot {
  padding: .7rem;
}

.wp-block-table.is-style-regular td {
  padding: .7rem;
  border-top: 1px solid #EEEEEE;
}

.wp-block-table.is-style-stripes {
  border-bottom: none;
}

.wp-block-table.is-style-stripes td,
.wp-block-table.is-style-stripes th,
.wp-block-table.is-style-stripes tfoot {
  padding: .7rem;
}

// Embed Block
.wp-block-embed {
  margin-bottom: 3rem;
}

// Search Block
.wp-block-search {
  margin-bottom: 1rem;
}

.wp-block-search .wp-block-search__input {
  max-width: 100%;
  height: var(--form-control-height);
  border: 1px solid var(--form-control-border-color);
  border-radius: var(--bootstrap-form-control-border-radius);
  padding: 0 0.8rem;
}

.wp-block-search .wp-block-search__button {
  color: #fff;
  background-color: var(--brand-primary);
  border-color: var(--brand-primary);
  border-radius: var(--border-radius);
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 1rem 0;
  padding: .5rem 1rem;
}

@media ( min-width: 991.98px ) {
  .wp-block-search .wp-block-search__button {
    margin: 0 0 0 1rem;
  }
}

.wp-block-search .wp-block-search__button:hover {
  color: #fff;
  background-color: var(--brand-primary-dark);
  border-color: var(--brand-primary-dark);
}

// Categories Block
.wp-block-categories select {
  height: 38px;
  margin-bottom: 1rem;
}

// Archives Block
.wp-block-archives-list {
  padding-left: 1rem;
  list-style: none;
}

.wp-block-archives-list li {
  padding-bottom: .5rem;
}

.wp-block-archives select {
  height: 38px;
  margin-bottom: 1rem;
}

// Calendar Block
.wp-block-calendar tbody td,
.wp-block-calendar th {
  padding: .5rem;
  border: 1px solid #bdbdbd;
}

@media ( min-width: 991.98px ) {
  .wp-block-calendar tbody td,
  .wp-block-calendar th {
    padding: 1rem;
  }
}

.wp-block-calendar table th {
  font-weight: 500;
  background: var(--brand-primary);
  color: #FFF;
  border-color: var(--brand-primary);
}

.wp-calendar-nav {
  text-align: left;
  margin-bottom: 1rem;
}

// Latest Posts Block
.wp-block-latest-posts.wp-block-latest-posts__list {
  padding-left: 1rem;
}

.wp-block-latest-posts.wp-block-latest-posts__list li {
  padding-bottom: .5rem;
}

// Latest Posts Rss
.wp-block-rss {
  padding-left: 1rem;
  list-style: none;
}

.wp-block-rss li {
  padding-bottom: .5rem;
}

// Latests Comments
.wp-block-latest-comments {
  padding-left: 1rem;
}


/* ----------- Woocommerce Block ------------------------- */

// Products Grid Block
.wc-block-grid {
  margin-bottom: 3rem;
}

.wc-block-grid.alignfull {
  padding: 0 2rem;
}

.wc-block-sort-select {
  margin-bottom: 2rem;
}

.wc-block-sort-select select {
  border: 1px solid #DDD;
  border-radius: 3px;
  padding: .5rem;
}

// Category Grid Block
.wc-block-product-category {
  margin-bottom: 3rem;
}

// Featured Product Block
.wc-block-featured-product {
  margin-bottom: 3rem;
}
