/*

  Para que se ha creado este estilo?
  Tal vez para el sumario final?
  Es demasiado general se debe acotar a su objetivo

*/

td {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  padding: 0.5rem 0;
}
