// ==========================================================================
// Text Rules
// ==========================================================================

h1,
h2,
h3,
h4,
h5,
h6 {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
   overflow-wrap: break-word;
}