//==============================================
// Layout/Hero header
//
// Notes:
// ------
// Due to the height of the selector form the height of the
// header background (image, video, carousel) must be 560px at least.
// It can be solved reducing the height of the selector form
//
//==============================================

/**
 * Wraps the header : (Image | Video | Carrusel) + Widgets areas
 */
.home-header {
  position: relative;
  flex-direction: column;
  background-color: #8ac53f;
  z-index: 2;
}

// ----------------------

/**
 * Image (img) | Video (video) | Carrusel (div) common class
 */
.home-header_background {
  width: 100%;
  padding-top: 42px; // For mobile content (because parent is absolute)
}

/**
 * Background image specific class
 */
.home-header_background_img,
.home-header_background_video {
  object-fit: cover;
  object-position: 50% 50%;
  min-height: 220px;
  width: 100%;
  z-index: -1;
}

/**
 * Background carousel
 */
.home-header_background_carrusel {
  min-height: 220px;
  z-index: -1;
}

// Carousel item
.home-header_background_carrusel .carrusel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 50% 50%;
  min-height: 220px; // Same value as .home-header_background_carrusel
}

// -----------------------

/**
 * Widget areas
 */
.home-header_content {
  display: flex;
  flex-direction: column;
  min-height: fit-content;
  align-items: center;
  justify-content: center;
}

.home-header_content_container {
  padding-left: 0 !important;
  padding-right: 0 !important;
  min-width: 100%;
}

.mybooking-widget_header-left,
.mybooking-widget_header-right {
  padding: 1rem;
}

.home-alone:not(.form),
.home-left:not(.form),
.home-right:not(.form) {
  color: #fff;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .home-header_background_img,
  .home-header_background_video {
    min-height: 560px; // Desktop : min height for selector widget
    max-height: 600px;
  }

  .home-header_background_carrusel {
    padding-top: 0;
    height: 560px; // Desktop : min height for selector widget
  }

  .carrusel-item img {
    height: 560px !important; // It must be the same value as .home-header_background_carrusel height
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .home-header {
    flex-direction: row;
  }
}

// Large devices (desktop)
@media (min-width: 992px) {
  // Background (common)
  .home-header_background_img {
    padding-top: 0;
  }
  .home-left {
    align-items: flex-start;
  }
  .home-right {
    align-items: flex-end;
  }
  // Widgets container
  .home-header_content_container {
    position: absolute;
    left: 50%;
    top: calc(50% + 2em);
    transform: translate(-50%, -50%);
    min-width: 960px!important;
  }

  .home-header_content_container_sticky {
    transform: none !important;
  }
}
