// Import theme parts
@import "parts/index";


// Utilities

.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}

.shadow-bottom {
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 5px 5px 4px 4px;
}

.total-price {
  font-size: 2rem;
  font-weight: 700;
}

.ui-datepicker {
  z-index: 5000 !important;
}

.counter {
  .center {
    width: 150px;
    margin: 40px auto;
  }
}

.wrapper-footer {
  background-color: darken($brand-primary, 40%);
  color: $white;
}

.btn.btn-secondary.understrap-read-more-link {
  color: $brand-primary;
  background-color: transparent;
  border: 0;
  padding-left: 0;
  &:hover {
    color: darken($brand-primary, 10%);
  }
}

/** Date Range picker **/

.bg-warning {
   background-color: #ffbe4a;
   color: #000000 !important;
}

.bg-danger {
   background-color: #f18484;
   color: #ffffff !important;
}

.not-selectable-day {
   color: #ccc !important;
}

.date-picker-wrapper .month-wrapper table .day {
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.month-name .month-element {
  font-size: 24px;
}
.date-picker-wrapper .month-wrapper table .caption {
  height: 90px;
}  
.date-picker-wrapper .month-wrapper table .week-name {
  height: 40px;
}  
.week-name th {
  font-size: 14px; 
  margin-top: 20px;
  margin-bottom: 20px;
}
.date-picker-wrapper {
  border: none;
  background-color: none;
  padding: 0;
}
.date-picker-wrapper .month-wrapper {
  border: none;
}
.date-picker-wrapper.no-topbar {
  padding-top: 0;
}
.date-picker-wrapper.no-shortcuts {
  padding-bottom: 0;
}
.date-picker-wrapper{
  background-color: transparent;
}
.date-picker-wrapper .footer {  
  background-color: transparent;
  padding-bottom: 0px;
}
.date-picker-wrapper .gap {
  height: 0px !important;
}
.disabled-picker {
  opacity: 0.7;
  pointer-events: none;
}
// Google Autocomplete
.pac-container {
    z-index: 10000 !important;
}
