//==============================================
// layout-components/ activities
//==============================================

.activity-view-card {
  position: relative;
  margin: 1.5rem 0;
  padding-bottom: 12px;
  border-radius: 5px;
  background-color: var(--gray-900);
}
.activity-card_table {
  margin: 12px auto;
  color: var(--white);
  margin-bottom: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  td {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    font-size: 13px;
  }
}
.trash-button {
  position: absolute;
  right: 20px;
  top: 20px;
  color: var(--error);
  cursor: pointer;
}
.activity-card__img img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  mix-blend-mode: overlay;
  height: 250px;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card-img-bg-color {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: var(--white);
}
.activity-card__img-text {
  padding: 20px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
  h5,
  p {
    color: var(--white);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
  }
}
.activity-name {
  color: var(--white);
  font-weight: 700;
  align-self: flex-start;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}

.activity-description {
  p,
  span {
    display: block;
    font-size: 0.9rem;
    color: var(--white) !important;
    margin: 30px 20px;
    padding: 20px;
  }
}
.activities-shopping-cart-form {
  margin: 1.5rem 0;
  padding: 1rem;
  border-radius: 4px;
  background-color: var(--white);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.06);
}
// Form wrapper
.activities-content__widget-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}
// Forms
.activity-content__widget {
  margin: 0 20px;
  display: flex;
  label {
    color: var(--body-color);
  }
  .flex-form-item-box {
    margin-left: 0 !important;
    margin-bottom: 10px !important;
  }
  .ui-datepicker {
    min-width: 400px;
  }
}
.activity-widget__title {
  color: var(--body-color);
  font-weight: 700;
  margin-bottom: 20px;
}
.media {
  font-size: 0.9rem;
  background-color: var(--gray-100);
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  h5 {
    color: var(--primary);
  }
  i {
    font-size: 3rem;
    color: var(--primary);
  }
}
.media-body {
  color: var(--body-color);
}
.widget-wrapper {
  margin: 20px;
  padding: 20px;
  background-color: #3a3e3e;
  border-radius: 5px;
}
table.table-activities {
  margin-bottom: 0;
}
table.table-activities td,
table.table-activities th {
  color: #fff;
  border-top: 1px solid #424242;
}
.activity-card {
  p {
    margin: 30px 0;
  }
  a:visited {
    color: var(--white);
  }
  a:link {
    color: var(--white);
  }
}
.activity-card-title {
  height: 50px;
}
