//==============================================
// Layout/Blog
//==============================================

/*
*  LOOP
*/

.blog .post {
  margin-bottom: 2rem;
}

/*
*  HOME NEWS
*/

.news_container {
  padding: 50px 0;
}

.news_thumbnail {
  margin-bottom: 10px;
}

.news_post-image {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 280px;
  overflow: hidden;
  border-radius: 3px;
}

.news_extract {
  color: var(--gray-600);
}

.news_extract .mybooking-read-more-link {
  margin-top: 10px;
}

/*
*  SINGLE
*/

// .post_header {
//   height: 50vh;
//   overflow: hidden;
// }
//
// .post_header img {
//   position: relative;
//   bottom: 25vh; // Centers featured image on desktop
//   object-fit: cover;
//   z-index: -1;
// }

.post_header {
  height: 50vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.post_content {
  background-color: #fff;
  padding-top: 2rem;
}

.post_title {
  font-weight: 700;
}

.post_meta {
  margin: 1rem 0;
}

@media (max-width: 1024px) {
  .post_header {
    height: 35vh;
  }

  .post_header img {
    bottom: 0;
  }
}
