.blockquote {
  padding: 4rem 0 4rem 3rem;
  p {
    font-size: 22px;
    padding-left: 75px;
  }
}
.blockquote-footer {
  padding-left: 75px;
}
.blockquote:before {
  content: "\f10d";
  font-family: FontAwesome;
  font-size: 3rem;
  position: absolute;
  top: 50px;
  left: 0;
  color: var(--brand-primary);
  font-weight: 900;
  background-color: transparent;
}
