//==============================================
// Layout/Contact
//==============================================

.contact-info {
  margin-bottom: 2rem;
}

.contact-social {}

/* We must to check if it's specific for Contact social icons
or afects globaly and refactorize */
ul.social-links,
.social-links li {
  padding: 0;
}

.social-links li {
  display: inline-block;
  list-style: none;
  font-size: 1.8em;
  margin-right: 1rem;
}

.social-links a {
  color: var(--brand-secondary);
  transition: ease-in-out 0.5ms;
  &:hover {
    color: var(--brand-secondary-light);
  }
}

.contact-form {}

.contact-form input,
.contact-form form textarea {
  width: 100%;
  border: 1px solid var(--form-control-border-color);
  border-radius: var(--bootstrap-form-control-border-radius);
  margin-bottom: 2em;
}
