//==============================================
// Module/cookies warning
//==============================================

.cookie-notice {
  font-family: inherit;
  background: var(--brand-primary);
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  margin: 0px;
  visibility: hidden;
  z-index: 1000000;
  box-sizing: border-box
}

.cookie-notice_text {
  color: #fff;
  text-align: center;
}

.cookie-notice_button {
  color: #fff!important;
  background: var(--brand-primary-dark);
  width: 100%;
}

@media only screen and (min-width:992px) {
  .cookie-notice {
    max-width: 300px;
    bottom: 10px;
    left: 10px;
    border-radius: 3px;
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
  }
}
