//==============================================
// Layout/ Footer
//==============================================
.footer {
  overflow-x: hidden;
  padding: 3rem 0 3rem 0;
  background-color: var(--footer-bg);
  color: var(--footer-color);
  h6 {
    text-transform: uppercase;
    font-weight: 700;
    color: var(--footer-color);
    height: 30px;
  }

  .logo-footer a img {
    margin-bottom: 0.5rem;
    height: var(--footer-logo-height);
    overflow: hidden;
    object-fit: contain;
  }
  a {
    color: var(--footer-color-link);
    text-decoration: none;
    transition: all 0.5s;
    &:hover {
      color: var(--footer-color-link-hover);
      text-decoration: none;
    }
  }

  ul:after {
    /* Clearfix */
    content: "";
    display: table;
    clear: both;
  }

  ul {
    margin: 0;
    padding: 0;
    display: block;
    li {
      list-style: none;
    }
  }
}

.mb-copy {
  color: var(--credits-color);
  background-color: var(--credits-bg);
  padding-top: 1rem;
  a {
    color: var(--credits-color-link);
    &:hover {
      color: var(--credits-color-link-hover);
      text-decoration: none;
    }
  }
}
.info_bloc {
  text-align: center;
}

@media (min-width: 768px) {
  .info_bloc {
    text-align: right;
  }
}
@media (max-width: 767.98px) {
  .footer {
    text-align: center;
    .col {
      display: block;
      min-width: 100%;
    }
    h6 {
      margin-top: 1rem;
    }
    .social-links {
      display: inline-block;
      text-align: center;
    }
  }
  .logo-footer {
    display: inline-block;
  }
}
