//==============================================
// Module/nav
//==============================================

/* Navbar */
/* Occupies the top of the page */
.home .navbar-container {
  width: 100%;
  top: 0;
  z-index: 30;
  align-items: center;
}

.bg-nav {
  width: 100%;
  margin-top: 0;
  background-color: var(--navbar-bg);
}

/* Nav bar in front of the image and transparent */
.home .nav-container-absolute {
  position: absolute;
}

@media (min-width: 992px) {
  .home .nav-container-absolute .bg-nav {
    background: none;
  }
}

.navbar-brand {
  margin: 0;
  float: left;
}

.custom-logo-link img {
  width: var(--custom-logo-width);
  height: var(--custom-logo-height);
  overflow: hidden;
}

.navbar-dark .navbar-toggler {
  border: none;
  padding: 0;
}

button.navbar-toggler:focus {
  outline: none;
}
.navbar-toggler-icon {
  background-image: none !important;
  i {
    color: var(--toggler-icon-color);
    font-size: var(--toggler-icon-font-size);
    margin-top: var(--toggler-icon-mt);
  }
}

.navbar {
  z-index: 10;
  /*padding: 0.5rem 0;*/
}

.navbar-collapse {
  transition: height 0.01s; // Resets Bootstrap's animation
  .navbar-nav .nav-link {
    color: var(--white);
  }
}

.navbar-collapse.show {
  margin: 1rem 0;
  height: calc(100vh - 120px); // Makes .navbar-extras don't disappear!
  display: table;
}

.navbar-nav .nav-link {
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}

.navbar .dropdown-item {
  color: var(--gray-800);
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--white);
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  opacity: 0.5;
}

.navbar-dark .navbar-nav .active .nav-link {
  color: var(--gray-800);
}

@media (max-width: 768px) {
  .navbar {
    padding: 0.5rem 1rem;
  }

  .navbar-brand {
    margin: 0 1rem;
  }

  .navbar-nav {
    text-align: center;
    margin-bottom: 50px;
  }

  .navbar-nav .nav-link {
    font-size: 1.3em;
  }
}

@media (min-width: 768px) {
  .navbar > .container,
  .navbar > .container-fluid {
    justify-content: center;
  }
}

// Third level
ul.dropdown-menu li > ul.dropdown-menu {
  width: 100%;
  top: 25px;
  margin: 0;
  color: var(--gray-900);
  background-color: var(--white);
  border: 0;
}

ul.dropdown-menu li:hover > ul.dropdown-menu,
ul.dropdown-menu li:focus > ul.dropdown-menu,
ul.dropdown-menu li > ul.dropdown-menu:hover,
ul.dropdown-menu li > ul.dropdown-menu:focus {
  display: block;
}

@media (max-width: 992px) {
  .home .bg-nav .navbar-brand img {
    display: block;
  }

  .navbar-container {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 30;
  }

  .home .nav-container-absolute {
    position: fixed;
  }

  .bg-nav {
    box-shadow: var(--navbar-box-shadow);
  }

  .navbar-collapse {
    display: table;
    width: 100%;
    height: 100vh;
  }

  .navbar-nav {
    display: table-cell;
    padding-bottom: 150px;
    vertical-align: middle;
    text-align: center;
  }
}

// Navpanels
.navpanel_opener {
  margin: 0 3px;
  height: 28px;
}

.navpanel-dialog .modal-header {
  border-bottom: none;
  padding-bottom: 0;
}

.modal-backdrop {
  display: none;
}
