// Topbar
.topbar {
  font-size: 0.9em;
  margin-top: 0;
  position: relative;
  z-index: 30;
  padding: 0.3rem 1rem;
  background-color: var(--topbar-bg);
  float: left;
  width: 100%;
  a {
    color: var(--topbar-link-color);
    &:hover {
      color: var(--topbar-link-color-hover);
      text-decoration: none;
    }
  }
  i {
    color: var(--white);
  }
  .info_link {
    margin: 0 0 0 1em;
  }
  .topbar_menu {
    float: right;
    .menu {
      margin: 0;
    }
    li {
      display: inline-block;
      margin: 0 0.5em;
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .topbar .menu,
  .topbar .info_text {
    display: none;
  }
  .topbar .info_link {
    margin: 0 2em;
  }
  .topbar {
    text-align: center;
    .topbar_menu {
      float: none;
      margin: 0.5rem auto;
    }
  }
}

@media (min-width: 1024px) {
  .home .topbar {
    background-color: var(--home-topbar-bg);
  }
}
