//==============================================
// Vehicles
//==============================================

.vehicle_item {
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--gray-200);
}

.vehicle_price {
  font-weight: 900;
  color: var(--brand-primary);
}

.vehicle_image-link {
  display: block;
  height: 150px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.vehicle_title {
  font-weight: bolder;
}

.vehicle_info-table {
  width: 100%;
  margin: 1rem 0;
  border-bottom: 1px solid var(--gray-200);
}

.vehicle_info-table td {
  border-top: 1px solid var(--gray-200);
  padding: .5rem;
}

.vehicle_description {
  padding-top: 1rem;
}

