//==============================================
// Vehicles
//==============================================

.vehicle_item {
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--gray-200);
}

.vehicle_price {
  font-weight: 900;
  color: var(--brand-primary);
}

.vehicle_image-link {
  display: block;
  height: 150px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.vehicle_title {
  font-weight: bolder;
}

.vehicle_info-table {
  width: 100%;
  margin: 1rem 0;
  border-bottom: 1px solid var(--gray-200);
}

.vehicle_info-table td {
  border-top: 1px solid var(--gray-200);
  padding: .5rem;
}

.vehicle_description {
  padding-top: 1rem;
}

// TEST
.gallery {
  margin: 0 auto;
}
.gallery .gallery-item {
  float: left;
  margin-top: 0;
  text-align: center;
  width: 33%;
}
.gallery-columns-2 .gallery-item {
  width: 50%;
}
.gallery-columns-4 .gallery-item {
  width: 25%;
}
.gallery img {
  padding: 5px;
}
.gallery img:hover {
  background: var(--white);
}
.gallery-columns-2 .attachment-medium {
  max-width: 92%;
  height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
  max-width: 84%;
  height: auto;
}
.gallery .gallery-caption {
  color: var(--gray-700);
  font-size: 12px;
  margin: 0 0 12px;
}
.gallery dl,
.gallery dt {
  margin: 0;
}
.gallery br + br {
  display: none;
}
