//==============================================
// Widgets
//==============================================

.mybooking-widget {
	margin-bottom: 2rem;
	width: 100%;
}

/**
*  Mybooking Widgets integration
*
**/

/* Home widgets areas needs a top-margin */
.home-top-widgets,
.home-bottom-widgets,
.home-bottom-widgets {
	margin-top: 2rem;
}

/* Selector Widget on Home's Widget zone */
.home-widgets .flex-form-group-wrapper input[type=text],
.home-widgets .flex-form-group label i {
	border: 1px solid #ccc;
  width: 400%; // This is a hack!
}
.home-widgets .flex-form-group label i {
	border: 1px solid #ccc;
	border-right: 0;
}
.home-widgets .flex-form-group select {
	border: 1px solid #ccc;
	color: #eee;
}
.home-widgets .form_selector-select_label_wrap:after {
	border: 1px solid #ccc;
}

/* Mybooking Contact Widget */
.widget_mybooking_engine_contact input {
	width: 100%;
	margin-bottom: 10px;
}
.widget_mybooking_engine_contact textarea {
	width: 100%;
	min-height: 150px;
	padding-top: 1rem;
}

/* Mybooking Pages sidebar widgets */
.mybooking-widget_page-sidebar {
	margin-bottom: 2rem;
}

/**
*  WordPress Widgets integration
*
**/

/* General */
.widgettitle {
	font-size: 1.3em;
}

/* Gallery Widget */
figure.gallery-item {
	margin: 0;
}

/* Navigation Widget */
.home-widgets ul.menu,
.home-widgets ul.sub-menu{
	display: block;
	margin: 0 10px;
	padding: 0;
	list-style: none;
}

/* Search Widget */
.search-form label {
	width: 100%!important;
}

.search-form input.search-field {
	width: 100%!important;
	padding: 1rem;
	border: 1px solid var(--form-control-border-color);
  border-radius: var(--bootstrap-form-control-border-radius);
}

.search-form  input[type="submit" i] {
	width: 100%!important;
  border-style: none;
}

.search-form [type=submit]:not(:disabled) {
	padding: .5rem 1rem;
	background-color: var(--btn-bg-color);
	color: #FFF;
  border-color: var(--btn-border-color);
  letter-spacing: 1px;
  font-weight: var(--btn-font-w);
  text-transform: var(--btn-text-transform);
  border-radius: var(--bootstrap-form-control-border-radius);
}

.search-form [type=submit]:not(:disabled):hover {
	opacity: .5;
}

/* Calendar Widget */
.wp-calendar-table {
	width: 100%;
	margin: 5px;
}

/* Categories Widget */
select#cat {
	width: 100%!important;
	border: 1px solid #ccc;
	padding: 1rem;
	background-color: #FFF;
	color: #888;
}

.home-widgets ul {
	list-style: none;
	padding: 0;
}
